<% ongoing_trainings = @trainings %>
<% ongoing_trainings.each do |training| %>
  <% if training.sessions.where(date: nil).empty? %>
    <div class="training-card" id="card-index">
      <%= link_to training_path(training), class: 'stretched-link' do %>
        <div class="training-card-main">
          <div class="block-with-text">
            <h4 toggle='tooltip' title='<%= training.title %>'><%= training.title %></h4>
          </div>
          <div class='client-logo' style="background-image: url(<%= training.client_contact.client_company.logo %>); background-size: 5rem 5rem; background-repeat: no-repeat;"></div>
        </div>
        <div class="training-card-infos">
          <% sessions = training.sessions %>
          <div class='training-card-infos-elements'>
            <% if sessions.count == 1 %>
              <p><i class="far fa-calendar-alt"></i><%= "  On #{sessions.first&.date&.strftime('%d/%m/%y')}" %></p>
            <% else %>
              <p><i class="far fa-calendar-alt"></i><%= "  From #{sessions.order(date: :asc).first&.date&.strftime('%d/%m/%y')} to #{sessions.order(date: :asc).last&.date&.strftime('%d/%m/%y')}" %></p>
            <% end %>
            <p><i class="far fa-calendar-check"></i><%= " " + training.sessions.count.to_s + " " + "Sessions" %></p>
            <% users_list = [training.owners + training.writers + training.trainers].flatten.uniq.first(3) %>
            <% u = 1 %>
            <% users_list.each do |user| %>
            <img class="avatar-sm training-card-user training-card-user-<%= u %>" src="<%= user.picture %>" onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            <% u += 1 %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
