<% ongoing_trainings = @trainings %>
<% ongoing_trainings.each do |training| %>
  <% if training.sessions.where(date: nil).empty? || ['sevener+', 'sevener'].include?(current_user.access_level) %>
      <div class="training-card" id="card-index" data-toggle='tooltip' title='<%= training.title %>'>
        <div class="training-card-main">
          <%= link_to training_path(training), class: 'stretched-link' do %>
            <h4><%= training.title %></h4>
            <img src="<%= Training.includes(:client_contact).find(training.id).client_contact.client_company.logo %>" class='lazyload client-logo'>
            <div class="training-card-infos">
              <% sessions = training.sessions %>
              <div class='training-card-infos-elements'>
                <% if sessions.count == 1 %>
                  <i class="far fa-calendar-alt"></i><%= "  On #{sessions.first&.date&.strftime('%d/%m/%y')}" %>
                <% else %>
                  <% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
                    <i class="far fa-calendar-alt"></i><%= "  From #{sessions.order(date: :asc).first&.date&.strftime('%d/%m/%y')} to #{sessions.order(date: :asc).last&.date&.strftime('%d/%m/%y')}" %>
                  <% else %>
                    <% trainer_sessions = Session.joins(:session_trainers).where(training_id: training.id, session_trainers: {user_id: current_user.id}).order(date: :asc) %>
                    <i class="far fa-calendar-alt"></i><%= "  From #{trainer_sessions.first&.date&.strftime('%d/%m/%y')} to #{trainer_sessions.last&.date&.strftime('%d/%m/%y')}" %>
                  <% end %>
                <% end %>
                <br>
                <i class="far fa-calendar-check"></i>
                <%= training.sessions.count.to_s + " " + "Sessions" %>
              </div>
            </div>
            <% users_list = [training.owners + training.writers + training.trainers].flatten.uniq.first(3) %>
            <% u = 1 %>
            <% users_list.each do |user| %>
            <img class="lazyload avatar-sm training-card-user training-card-user-<%= u %>" src="<%= user.picture %>" onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            <% u += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>
