<div class="card-lg">
  <div class="card-footer-lg">
    <% if session.start_time && session.end_time %>
      <div class="card-footer-lg-infos">
        <div>
          <% if session.date.present? %>
            <p id='<%= "date-form-" + "#{session.id.to_s}" %>' onclick='openSessionForm(this)'> <%="#{session&.date&.to_s}"%> </p>
          <% else %>
            <p id='<%= "date-form-" + "#{session.id.to_s}" %>' onclick='openSessionForm(this)'> A dater </p>
          <% end %>
          <%= simple_form_for :session, url: training_update_ajax_session_path(training_id: session.training.id, id: session.id, page: params[:page], type: 'date'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
            <div style="display:flex;flex-direction:row;justify-content:space-between;align-items: center; height:100%;">
              <%= f.input :date, as: :string, input_html: { class: 'datepicker', value: session.date, style: 'width: 12rem' }, label: false %>
              <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
            </div>
          <% end %>
        </div>
        <div>
          <p id='<%= "time-form-" + "#{session.id.to_s}" %>' onclick='openSessionForm(this)'><%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %></p>
          <%= simple_form_for :session, url: training_update_ajax_session_path(training_id: session.training.id, id: session.id, page: params[:page], type: 'time'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
            <div style="display:flex;flex-direction:row;justify-content:space-between;align-items: center; height:100%;">
              <%= f.input :start_time, label: 'Start time:', as: :time, minute_step: 15, input_html: { class: 'timepicker'}, default: session.start_time, label: false %>
              <%= f.input :end_time, label: 'End time:', as: :time, minute_step: 15, input_html: { class: 'timepicker'}, default: session.end_time, label: false %>
              <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
            </div>
          <% end %>
        </div>
        <div>
          <i class="fas fa-stopwatch"></i>
          <p id='<%= "duration-form-" + "#{session.id.to_s}" %>' onclick='openSessionForm(this)'><%= session.duration %> h</p>
          <%= simple_form_for :session, url: training_update_ajax_session_path(training_id: session.training.id, id: session.id, page: params[:page], type: 'duration'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
            <div style="display:flex;flex-direction:row;justify-content:space-between;align-items: center; height:100%;">
              <%= f.input :duration, label: false, input_html: {min: 0, style: 'width:11rem;', id: 'edit_duration', type: 'number', value: session.duration}, allow_blank: false %>
              <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
            </div>
          <% end %>
        </div>
        <div>
          <i class="fas fa-users"></i>
          <p id='<%= "attendee-form-" + "#{session.id.to_s}" %>' onclick='openSessionForm(this)'><%= session.attendees.count %>/<%= session.attendee_number %></p>
          <%= simple_form_for :session, url: training_update_ajax_session_path(training_id: session.training.id, id: session.id, page: params[:page], type: 'attendee'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
            <div style="display:flex;flex-direction:row;justify-content:space-between;align-items: center; height:100%;">
              <%= f.input :attendee_number, input_html: { min: 0, value: session.attendee_number, style: 'width: 5rem' }, label: false %>
              <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
            </div>
          <% end %>
        </div>
          <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) %>
          <%= link_to training_copy_form_session_path(session.training, session, page: params[:page]), data: { toggle: 'tooltip'}, title: 'Copy Session' do %>
            <div class='btn-icon-grey-sm'><i class="fas fa-copy"></i></div>
          <% end %>
        <% else %>
          <a class='disabled' data-toggle="tooltip" title="Disabled">
            <div class='btn-icon-grey-sm'><i class="fas fa-copy"></i></div>
          </a>
        <% end %>
      </div>
    <% end %>
<!--     <div class="flex-row-between-centered">
      <%# link_to training_session_path(session.training, session), class: 'edit-fafa', data: {toggle: 'tooltip'}, title: 'View Session' do %>
        <button class='edit-fafa' data-toggle="tooltip" title="View Session">
          <i class="fas fa-eye"></i>
        </button>
      <%# end %>
    </div> -->
  </div>
  <div class="card-main-lg" ondblclick="doubleClick(this)">
    <div class="card-session-header">
      <h3 id='<%= "title-form-" + "#{session.id.to_s}" %>' onclick='openSessionForm(this)'><%= session.title %></h3>
      <%= simple_form_for :session, url: training_update_ajax_session_path(training_id: session.training.id, id: session.id, page: params[:page], type: 'title'), html: { class: "hidden hidden-form", style: 'width:100%;' }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
        <%= f.input :title, label: false, input_html: {value: session.title, style: 'width:100%;'} %>
        <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
      <% end %>
      <div style='display:flex;align-items:center;position: absolute;right: 0px;top: -60px;'>
        <ul id="owner-session-index">
          <% session.users.each do |user| %>
            <li>
              <% if user.picture.present? %>
                <a class="ava2" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm-trainer' data-placement="bottom" title='Trainer:  <%= "#{user.fullname}" %>'></a>
              <% else %>
                <a class="ava2" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= asset_path('empty-avatar.png', type: :image) %>' alt="" class='avatar-sm-trainer' data-placement="bottom" title='Trainer:  <%= "#{user.fullname}" %>'></a>
              <% end %>
            </li>
            <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document" style="border-radius: 2rem">
                <%= render 'users/consult', user: user %>
              </div>
            </div>
          <% end %>
          <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) %>
            <button class="avatar-sm-add ava2" data-toggle='modal' data-target='#addTrainer<%= session.id %>' data-toggle="tooltip" title="Add Trainer"><i class="fas fa-plus"></i></button>
          <% else %>
            <button class="avatar-sm-add ava2" data-toggle="tooltip" title="Disabled"><i class="fas fa-plus"></i></button>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="mods-list">
      <%= render_async show_session_content_path(session_id: session.id) %>
      <% session_number = session.training.sessions.order(date: :asc).find_index(session) + 1 %>
    </div>
    <div class='sessions-footer'>
      <div class='sessions-copy'>
        <h4 class='card-session-number'><%= session_number %>/<%= session.training.sessions.count %> </h4>
      <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) %>
        <%= link_to remove_session_trainers_path(session_id: session.id, destroy: 'true'), data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, title: 'Delete' do %>
          <div class='btn-icon-grey-delete'><i class="fas fa-trash-alt"></i></div>
        <% end %>
      <% end %>
      </div>
    </div>
</div>
  <div class="modal fade editSession" id="editSession<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="border-radius: 2rem">
      <%= render '/sessions/edit', session: session %>
    </div>
  </div>
  <div class="modal fade" id="addTrainer<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog %>" role="document" style="border-radius: 2rem">
      <% @session = session %>
      <%= render '/session_trainers/new', session: @session, session_trainer: SessionTrainer.new, session_number: session_number %>
    </div>
  </div>
</div>

<!-- // MOBILE //  -->

<div class="card-lg-mobile">
  <div class="card-footer-lg-mobile">
    <% if session.start_time && session.end_time %>
      <div class="card-footer-lg-infos-mobile">
        <div class="session-date-time">
          <% if session.date.present? %>
            <p id='<%= "date-form-" + "#{session.id.to_s}" %>'> <%="#{session&.date&.to_s}"%> </p>
          <% else %>
            <p id='<%= "date-form-" + "#{session.id.to_s}" %>'> A dater </p>
          <% end %>
            <p id='<%= "time-form-" + "#{session.id.to_s}" %>'><%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %></p>
        </div>
        <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) %>
        <div class="sessions-menu" onclick="openContentMenu(this);"><i class="fas fa-ellipsis-v"></i></div>
         <div class="content-dropdown hidden">
          <%= link_to 'Copy Session', training_copy_form_session_path(session.training, session, page: params[:page]), data: { toggle: 'tooltip'}, title: 'Copy Session' %>
          <a class='session-edit' data-toggle='modal' data-target='#editSession<%= session.id %>'>Edit Session</a>
          <%= link_to 'Delete Session', remove_session_trainers_path(session_id: session.id, destroy: 'true'), data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, title: 'Delete' %>
          </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-main-lg-mobile" ondblclick="doubleClick(this)">
    <div class="card-session-header-mobile">
      <h3 id='<%= "title-form-" + "#{session.id.to_s}" %>'><%= session.title %></h3>
<!--       <div style='display:flex;align-items:center;position: absolute;right: 0px;top: -60px;'>
        <ul id="owner-session-index">
          <%# session.users.each do |user| %>
            <li>
              <%# if user.picture.present? %>
                <a class="ava2" data-toggle='modal' data-target='#consultUser<%# user.id %>'><img src='<%#"#{user.picture}" %>' alt="" class='avatar-sm-trainer' data-placement="bottom" title='Trainer:  <%# "#{user.fullname}" %>'></a>
              <%# else %>
                <a class="ava2" data-toggle='modal' data-target='#consultUser<%## user.id %>'><img src='<%# asset_path('empty-avatar.png', type: :image) %>' alt="" class='avatar-sm-trainer' data-placement="bottom" title='Trainer:  <%# "#{user.fullname}" %>'></a>
              <%# end %>
            </li>
            <div class="modal fade" id="consultUser<%# user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document" style="border-radius: 2rem">
                <%# render 'users/consult', user: user %>
              </div>
            </div>
          <%# end %> -->
   <!--        <%# if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) %>
            <button class="avatar-sm-add ava2" data-toggle='modal' data-target='#addTrainer<%= session.id %>' data-toggle="tooltip" title="Add Trainer"><i class="fas fa-plus"></i></button>
          <%# else %>
            <button class="avatar-sm-add ava2" data-toggle="tooltip" title="Disabled"><i class="fas fa-plus"></i></button>
          <%# end %> -->
<!--         </ul>
      </div> -->
    </div>
    <div class="mods-list">
      <%= render_async show_session_content_path(session_id: session.id) %>
      <% session_number = session.training.sessions.order(date: :asc).find_index(session) + 1 %>
    </div>
    <div class='sessions-footer'>
      <div style='display:flex;padding:10px;'>
        <i class="fas fa-stopwatch" style='margin-right: 5px;'></i>
        <p id='<%= "duration-form-" + "#{session.id.to_s}" %>'><%= session.duration %> h</p>
      </div>
      <div style='display:flex; padding:10px;' >
      <div class='sessions-copy'>
        <h4 class='card-session-number'><%= session_number %>/<%= session.training.sessions.count %> </h4>
      </div>
      </div>
    </div>
</div>
  <div class="modal fade " id="editSession<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="border-radius: 2rem">
      <%= render '/sessions/edit', session: session %>
    </div>
  </div>
  <div class="modal fade" id="addTrainer<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog %>" role="document" style="border-radius: 2rem">
      <% @session = session %>
      <%= render '/session_trainers/new', session: @session, session_trainer: SessionTrainer.new, session_number: session_number %>
    </div>
  </div>
</div>

