<div class="container-seven-large">

  <div id="page-controls">

    <% if params[:user] %>

      <%= simple_form_for :search, url: trainings_path, method: 'GET' do |f| %>

        <% if params[:search].present? %>

          <%= f.input :title, placeholder: 'Search Trainings', label: false, input_html: {value: params[:search][:title]} %>

          <%= link_to trainings_path, class: 'search-close' do %>
            <i class="far fa-times-circle"></i>
          <% end %>

        <% else %>

          <%= f.input :title, placeholder: 'Search Trainings', label: false %>

        <% end %>

        <%= f.input :user, as: :hidden, input_html: { value: params[:user] } %>
        <%= hidden_field_tag :page, 1 %>

      <% end %>

    <% else %>

      <%= simple_form_for :search, url: trainings_path, method: 'GET' do |f| %>

        <% if params[:search].present? %>

          <%= f.input :title, placeholder: 'Search Trainings', label: false, input_html: {value: params[:search][:title]} %>

        <% else %>

          <%= f.input :title, placeholder: 'Search Trainings', label: false %>

        <% end %>

        <%= hidden_field_tag :page, 1 %>

        <% if params[:search] %>

          <%= link_to trainings_path, class: 'search-close' do %>
            <i class="far fa-times-circle"></i>
          <% end %>

        <% end %>

      <% end %>

    <% end %>

    <div id="page-buttons">

      <% if (['super_admin', 'admin', 'training manager'].include? current_user.access_level) %>

        <%# link_to new_training_path do %>
          <!-- <button class="btn btn-edit-yellow">New Training</button> -->
        <%# end %>

        <% last_update = OverviewTraining.all(filter: "{Builder Update} != ''").sort{|x,y| x['Builder Update'].to_date <=> y['Builder Update'].to_date}.first %>

        <%= link_to import_airtable_path, class: "btn btn-edit-yellow" do %>

          <div class='flex-row-between-centered'>

            <p data-toggle="tooltip" title="Last Update : <%= last_update['Builder Update'].to_time.strftime('%d/%m/%Y at %H:%M') %>" style="margin:0 1rem 0 0;font-size: 1.4rem !important;font-family: 'Arial', sans-serif !important;">Update All</p>

            <span class="iconify" data-icon="simple-icons:airtable" data-inline="false"></span>

          </div>

        <% end %>

      <% end %>

    </div>

  </div>

  <% if (['super_admin', 'admin', 'training manager'].include? current_user.access_level) %>

    <div id="trainings_user_filter" class='flex-row-start-centered' style='flex-wrap: wrap;'>

      <% if params[:user].present? %>

        <%= link_to 'All', trainings_path, class: 'avatar-sm centered-item avatar_filter_all avatar_filter_all_unselected' %>

      <% else %>

        <%= link_to 'All', trainings_path, class: 'avatar-sm centered-item avatar_filter_all' %>

      <% end %>

      <% User.where.not(access_level: %w[sevener+ sevener]).select(:id, :firstname, :lastname, :picture).each do |user| %>

        <% if (params[:user] == user.id&.to_s) || (params[:search] && params[:search][:user] == user.id&.to_s) %>

          <%= link_to trainings_path(user: user.id) do %>

            <% if user.picture.present? %>

              <img src="<%= user.picture %>" class='lazyload avatar-sm' style='margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% else %>

              <img src='<%= asset_path('empty-avatar.png', type: :image) %>' class='lazyload avatar-sm' style='margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% end %>

          <% end %>

        <% else %>

           <%= link_to trainings_path(user: user.id) do %>

            <% if user.picture.present? %>

              <img src="<%= user.picture %>" class='lazyload avatar-sm' style='opacity: 0.6; margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% else %>

              <img src='<%= asset_path('empty-avatar.png', type: :image) %>' class='lazyload avatar-sm' style='opacity: 0.6; margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </div>

  <% end %>

  <div class="trainings-title">

    <div class="flex-row-start-centered">

      <h3 class="training-update-text training-update-text-upcoming active" onclick="switchView(this)">Upcoming</h3>
      <h3 class="training-update-text training-update-text-completed" onclick="switchView(this)">Completed</h3>

      <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>
        <h3 class="training-update-text training-update-text-home" onclick="switchView(this)">Home</h3>
      <% end %>

    </div>

    <div class="trainings-row trainings-row-upcoming">
      <%# render_async index_upcoming_path(user: params[:user]) %>
      <%= render 'trainings/index/index_upcoming' %>
    </div>

    <div class="trainings-row trainings-row-completed hidden">
      <%= render_async index_completed_path(user: params[:user], search: params[:search]&.permit!)%>
    </div>

    <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

      <div class="trainings-row trainings-row-home hidden">
        <%= render 'trainings/index/index_home', trainings: @trainings_home %>
      </div>

      <h3 class="training-update-text">To Schedule</h3>

      <div class="trainings-row">
        <%= render 'trainings/index/index_to_date', trainings: @trainings_to_date %>
      </div>

      <h3 class="training-update-text">To Staff</h3>

      <div class="trainings-row">
        <%= render 'trainings/index/index_to_staff', trainings: @trainings_to_staff %>
      </div>

    <% end %>

  </div>

</div>

<script>
  function switchView(element) {
    button_upcoming = document.querySelector('.training-update-text-upcoming')
    button_completed = document.querySelector('.training-update-text-completed')
    if (document.querySelector('.training-update-text-home') != null) {
      button_home = document.querySelector('.training-update-text-home')
    }
    row_upcoming = document.querySelector('.trainings-row-upcoming')
    row_completed = document.querySelector('.trainings-row-completed')
    row_home = document.querySelector('.trainings-row-home')
    if (element == button_upcoming) {
      element.classList.add('active')
      button_completed.classList.remove('active')
      if (document.querySelector('.training-update-text-home') != null) {
        button_home.classList.remove('active')
        row_home.classList.add('hidden')
      }
      row_upcoming.classList.remove('hidden')
      row_completed.classList.add('hidden')
    } else if (element == button_completed) {
      element.classList.add('active')
      button_upcoming.classList.remove('active')
      if (document.querySelector('.training-update-text-home') != null) {
        button_home.classList.remove('active')
        row_home.classList.add('hidden')
      }
      row_upcoming.classList.add('hidden')
      row_completed.classList.remove('hidden')
    } else {
      element.classList.add('active')
      button_upcoming.classList.remove('active')
      button_completed.classList.remove('active')
      row_upcoming.classList.add('hidden')
      row_completed.classList.add('hidden')
      row_home.classList.remove('hidden')
    }
  }

  sliders = document.querySelectorAll('.trainings-row');
  sliders.forEach((slider) => {
    isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      slider.classList.add('active');
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
      if(!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = (x - startX) * 3; //scroll-fast
      slider.scrollLeft = scrollLeft - walk;
    });
  })
</script>
