<div id="trainings_index_container"
     class="container-seven-large"
     data-controller="trainings--trainings-index">

  <div id="page-controls">

    <%= simple_form_for :search, url: trainings_path, html: {  id: 'search-form', autocomplete: 'off' }, method: 'GET', remote: true do |f| %>

        <%= f.input :title,
                    placeholder: 'Search Trainings',
                    label: false,
                    input_html: {
                      data: { action: "keyup->trainings--trainings-index#search" }
                    } %>

      <% if params[:user].present? %>

        <%= f.input :user, as: :hidden,
                           input_html: {
                             value: params[:user]
                           } %>

      <% end %>

      <%= f.submit '', class: 'hidden-submit hidden' %>

    <% end %>

    <div id="page-buttons">

      <% if (['super_admin', 'admin', 'training manager'].include? current_user.access_level) %>

        <!-- <%# link_to import_airtable_path, class: "btn btn-edit-yellow" do %>

          <div class='flex-row-between-centered'>

            <p style="margin:0 1rem 0 0;font-size: 1.4rem !important;font-family: 'Arial', sans-serif !important;">Update All</p>

            <span class="iconify" data-icon="simple-icons:airtable" data-inline="false"></span>

          </div>

        <%# end %> -->

      <% end %>

    </div>

  </div>

  <% if (['super_admin', 'admin', 'training manager'].include? current_user.access_level) %>

    <div id="trainings_user_filter" class='flex-row-start-centered' style='flex-wrap: wrap;'>

      <% if params[:user].present? %>

        <%= link_to 'All', trainings_path, class: 'avatar-sm centered-item avatar_filter_all avatar_filter_all_unselected' %>

      <% else %>

        <%= link_to 'All', trainings_path, class: 'avatar-sm centered-item avatar_filter_all' %>

      <% end %>

      <% User.active.where.not(access_level: %w[sevener+ sevener]).select(:id, :firstname, :lastname, :picture).each do |user| %>

        <% if (params[:user] == user.id&.to_s) || (params[:search] && params[:search][:user] == user.id&.to_s) %>

          <%= link_to trainings_path(user: user.id) do %>

            <% if user.picture.present? %>

              <img src="<%= user.picture %>" class='avatar-sm' style='margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% else %>

              <img src='<%= asset_path('empty-avatar.png', type: :image) %>' class='avatar-sm' style='margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% end %>

          <% end %>

        <% else %>

           <%= link_to trainings_path(user: user.id) do %>

            <% if user.picture.present? %>

              <img src="<%= user.picture %>" class='avatar-sm' style='opacity: 0.6; margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% else %>

              <img src='<%= asset_path('empty-avatar.png', type: :image) %>' class='avatar-sm' style='opacity: 0.6; margin-bottom: 1rem;' data-toggle='tooltip' title='<%= user.firstname %> <%= user.lastname %>'>

            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </div>

  <% end %>

  <div class="trainings-title">

    <div class="flex-row-start-centered">

      <h3 class="training-update-text training-update-text-upcoming active"
          data-tab="trainings-upcoming"
          data-action="click->trainings--trainings-index#showTab">
        Upcoming
      </h3>

      <h3 class="training-update-text training-update-text-completed"
          data-tab="trainings-completed"
          data-action="click->trainings--trainings-index#showTab">
        Completed
      </h3>

      <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

        <h3 class="training-update-text training-update-text-home"
            data-tab="trainings-home"
            data-action="click->trainings--trainings-index#showTab">
          Home
        </h3>

      <% end %>

    </div>

    <div id="trainings-row-upcoming"
         class="trainings-row"
         data-trainings--trainings-index-target="upcomingContainer"
         data-tab-container="trainings-upcoming">
      <%= render 'trainings/index/index_upcoming', upcoming_trainings: @upcoming_trainings %>
    </div>

    <div id="trainings-row-completed"
         class="trainings-row hidden"
         data-trainings--trainings-index-target="completedContainer"
         data-tab-container="trainings-completed">

    </div>

    <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

      <div class="trainings-row trainings-row-home hidden"
           data-tab-container="trainings-home">
        <%= render 'trainings/index/index_home', trainings: @trainings_home %>
      </div>

      <h3 class="training-update-text">To Schedule</h3>

      <div id="trainings-row-to-date"
           class="trainings-row">
        <%= render 'trainings/index/index_to_date', trainings: @trainings_to_date, any_more: @to_date_any_more %>
      </div>

      <h3 class="training-update-text">To Staff</h3>

      <div id="trainings-row-to-staff"
           class="trainings-row">
        <%= render 'trainings/index/index_to_staff', trainings: @trainings_to_staff %>
      </div>

    <% end %>

  </div>

</div>