<div class="container-seven-large"
     data-controller="trainings--show">

  <div id='page-controls'>

    <% if request.referer.present? && request.referer.include?('search%5Btitle%5D') %>

      <%= link_to request.referer.present? ? request.referer : default_path, class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>

    <% else %>

      <%= link_to trainings_path, class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>

    <% end %>

    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>

      <div class="page-controls-buttons flex-row-between-centered">

        <%= link_to update_calendar_path(training_id: @training.id), class: "btn-icon-red", data: { toggle: 'tooltip'}, title: 'Update Calendar' do %>
          <i class="fas fa-calendar-check" style='font-size: 20px'></i>
        <% end %>

        <a class='btn-icon-grey' id='add-session-button' data-toggle='modal' data-target='#newSession' data-toggle="tooltip" title="Add Session"><i class="fas fa-plus"></i></a>
        <a class='btn-icon-grey' data-toggle='modal' data-target='#copyTraining' data-toggle="tooltip" title="Copy"><i class="fas fa-copy"></i></a>

        <div class="dropdown">

          <div class='btn-icon-grey dropdown-toggle' id="dropdownNotificationButton" data-toggle="dropdown"><i class="fas fa-envelope"></i></div>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownNotificationButton">
            <li><%= link_to 'Send summary', trainer_notification_email_path(@training, status: 'new') %></li>
            <li><a data-toggle='modal' type='button' data-target='#updateNotificationSelect' style='cursor:pointer;'>Send updated summary</a></li>
          </ul>

        </div>

        <div class="dropdown dropdown-training">

          <div class='btn-icon-grey btn-icon dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></div>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <li><a data-toggle='modal' data-target='#addAttendees' data-toggle="tooltip" title="Add Participants">Add participants</a></li> -->
            <!-- <li><%# link_to 'Export PDF', training_path(@training, format: :pdf), target: :_blank %></li> -->

            <li onmouseover='exportSubMenu(this);'>

              <div>
                <p>Export PDF</p>
                <div class="dropdown-pdf hidden">
                  <%= simple_form_for :training, url: training_path(@training, format: :pdf), html: { target: "_blank" }, method: :get do |f| %>
                    <%= f.input :sessions, collection: @training.sessions, as: :check_boxes %>
                    <%= f.submit 'Export', class: ' btn btn-edit-green' %>
                  <% end %>
                </div>
              </div>

            </li>

            <li><%= link_to 'Import Attendees', import_attendees_form_path(training_id: @training.id) %></li>

            <li><%= link_to 'Attendees List', attendees_path(training_id: @training.id) %></li>

            <li><%= link_to 'New invoice', new_invoice_item_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post %></li>

            <li><%= link_to 'New invoice Airtable', new_airtable_invoice_item_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post %></li>

            <li><%= link_to 'New invoice Airtable by Trainer', new_airtable_invoice_item_by_trainer_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id), method: :post %></li>

            <li><%= link_to 'Invoices List', invoice_items_path(training_id: @training.id, type: 'Invoice') %></li>

          </ul>

        </div>

      </div>

    <% else %>

      <div class="page-controls-buttons flex-row-between-centered">

        <%= link_to invoice_form_path(@training), class: 'btn btn-edit-green btn-icon', data: {toggle:'tooltip'}, title: 'Submit an invoice' do %>
          <i class="fas fa-file-invoice-dollar"></i>
        <% end %>

      </div>

    <% end %>

  </div>

  <div class="middle-info">

    <div class='middle-info-main'>

      <h3><strong><%= @training.client_contact.client_company.name %></strong></h3>

      <div class="flex-row-between-centered">

        <h3 style='margin-bottom:1rem;'><%= @training.title %></h3>
        <a data-toggle="modal" data-target="#trainingInfos" style="margin-bottom: .5rem;"><i class="fas fa-info-circle info" data-toggle='tooltip' title='More info on the training'></i></a>
        <%# if @airtable_training.present? %>
          <!-- <a data-toggle='modal' data-target='#consultObjectives' data-toggle="tooltip" title="See Objectives"><i class="fas fa-info-circle"></i></a> -->
        <%# end %>

      </div>

      <p><%="From #{@training.sessions.order(date: :asc).first&.date&.strftime('%d/%m/%y')} to #{@training.sessions.order(date: :asc).last&.date&.strftime('%d/%m/%y')}" %></p>

    </div>

    <div class='middle-info-user'>
      <%= render 'trainings/partials/show_training_users', training: @training %>
    </div>

    <div class="middle-info2">

      <% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>

        <p id='survey-link'>Link to survey : <%= @training.satisfaction_survey %></p>

        <%= simple_form_for @training, html: { class: "hidden", id: 'survey-form' } do |f| %>

          <div style="display:flex;flex-direction:row;justify-content:space-between;align-items: center; height:100%;">

            <%= f.input :satisfaction_survey, placeholder: 'Add a link to the survey', value: @training.satisfaction_survey, label: false, input_html: { style: 'width: 200px;'} %>
            <%= button_tag type: 'submit', class: 'btn btn-add-user', input_html: { style: 'height: 3.5rem' } do %>
              Update
            <% end %>

          </div>

        <% end %>

      <% else %>

        <p id='survey-link'>Link to survey : <%= @training.satisfaction_survey %></p>

      <% end %>

      <% next_sessions = @training.sessions.order(date: :asc).where('date >= ?', Date.today) %>

      <% if next_sessions.present? && next_sessions&.first&.description&.present? %>
        <a href="<%= next_sessions.first.description %>" target="_blank">Lien Google Meet</a>
      <% end %>

    </div>

    <div class="training-info">

      <div class="sessions-cards">
        <%= render 'trainings/partials/show_sessions', training: @training %>
      </div>

    </div>

  </div>

<!------------>
<!-- MODALS -->
<!------------>

<div id="trainingInfos"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog"
       role="document"
       style="border-radius: 2rem">
    <%= render 'trainings/show_infos', training: @training %>
  </div>

</div>

<div id="copyTraining"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog"
       role="document"
       style="border-radius: 2rem">
    <%= render 'copy', training: @training %>
  </div>

</div>

<div id="newTrainers"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog"
       role="document"
       style="border-radius: 2rem">
    <%= render 'session_trainers/trainers_link_to_training', training: @training, controller_action: 'trainings_show' %>
  </div>

</div>

<div id="newForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-sm"
       role="document"
       style="border-radius: 2rem">
    <%= render 'forms/new', form: @form %>
  </div>

</div>

<div id="updateNotificationSelect"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-sm"
       role="document"
       style="border-radius: 2rem">
    <%= render 'session_trainers/notification_select', training: @training %>
  </div>

</div>

<div id="newSession"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-lg"
       role="document"
       style="border-radius: 2rem">
    <%= render '/sessions/new' %>
  </div>

</div>

<div id="addAttendees"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-lg"
       role="document"
       style="border-radius: 20px">
    <%= render 'session_attendees/new_all', training: @training %>
  </div>

</div>

<% if @airtable_training.present? %>

  <div id="consultObjectives"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       data-backdrop="static"
       data-keyboard="false">

    <div class="modal-dialog modal-lg"
         role="document"
         style="border-radius: 20px">
      <%= render 'show_objectives', training: @training %>
    </div>

  </div>

<% end %>

<% @training.sessions.each do |session| %>

  <% session.users.each do |trainer| %>

    <div id="consultUser<%= trainer.id %>"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false">

      <div class="modal-dialog"
           role="document"
           style="border-radius: 2rem">
        <%= render 'users/consult', user: trainer, training: @training %>
      </div>

    </div>

  <% end %>

<% end %>
</div>



<% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>

  <script>
    formGuardian = false;

    function outsideClick(event, notelem) {
      notelem = $(notelem); // jquerize (optional)
      // check outside click for multiple elements
      var clickedOut = true, i, len = notelem.length;
      for (i = 0;i < len;i++)  {
          if (event.target == notelem[i] || notelem[i].contains(event.target)) {
              clickedOut = false;
          }
      }
      if (clickedOut) return true;
      else return false;
    }

    function openContentMenu(element) {
      dropdown = element.parentNode.querySelector('.content-dropdown');
      dropdown.classList.toggle('hidden');
    };

    function openSessionForm(element) {
      if (formGuardian == false) {
        formGuardian = true
        card = element.closest('.card-lg')
        card.querySelector('.card-footer-lg__infos').classList.add('hidden')
        card.querySelector('.card-session-header').querySelector('h3').classList.add('hidden')
        card.querySelector('.sessions-copy').classList.add('hidden')
        card.querySelector('#owner-session-index').classList.add('hidden')
        card.querySelector('.card-footer-lg__form').classList.remove('hidden')
        card.querySelector('.card-main-lg').setAttribute('ondblclick','writeLED(1,1)')
        flatpickr(".datepicker", {
          disableMobile: true,
          dateFormat: "d/m/Y",});
        setTimeout(function(){ formGuardian = false }, 100);
      }
    }
  </script>

<% end %>

<script>
  function extractValue(element1) {
    return parseInt(element1.options[element1.selectedIndex].value, 10);
  }

  function doubleClick(element) {
    if (window.location.href.split('?').length > 1) {
      trainingpage = window.location.href.split('?')[0] + '/sessions/'
    } else {
      trainingpage = window.location.href + '/sessions/'
    }
    sessionid = element.closest('.session-card-block').id.split('card-block-')[1]
    link = trainingpage + sessionid
    window.location.href = link
  };

  function exportSubMenu(element) {
    dropdown_pdf = element.parentNode.parentNode.querySelector('.dropdown-pdf')
    dropdown_pdf.classList.remove('hidden')

    element.addEventListener('mouseout', function(f) {
      console.log("test")
      dropdown_pdf.classList.add('hidden')
      element.removeEventListener('mouseout', arguments.callee, false);
      return
    })

    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown_pdf)) {
        dropdown_pdf.classList.add('hidden')
        this.removeEventListener('click', arguments.callee, false);
      }
    });
  }

  buttons = document.querySelectorAll('.edit_button');
  buttons.forEach(function(button) {
    button.addEventListener('click', (click) => {
      card = button.parentElement.parentElement.querySelector('.editSession');

      edit_duration = card.querySelector('#edit_duration');
      edit_start_time_hour = card.querySelectorAll('.edit_start_time').item(0);
      edit_start_time_min = card.querySelectorAll('.edit_start_time').item(1);
      edit_end_time_hour = card.querySelectorAll('.edit_end_time').item(0);
      edit_end_time_min = card.querySelectorAll('.edit_end_time').item(1);
      edit_start_time_hour_value = extractValue(edit_start_time_hour);
      edit_start_time_min_value = extractValue(edit_start_time_min);
      edit_end_time_hour_value = extractValue(edit_end_time_hour);
      edit_end_time_min_value = extractValue(edit_end_time_min);
      [edit_start_time_hour, edit_start_time_min, edit_end_time_hour, edit_end_time_min].forEach(function(element2) {
        element2.addEventListener('change', (event) => {
          edit_start_time_hour = card.querySelectorAll('.edit_start_time').item(0);
          edit_start_time_min = card.querySelectorAll('.edit_start_time').item(1);
          edit_end_time_hour = card.querySelectorAll('.edit_end_time').item(0);
          edit_end_time_min = card.querySelectorAll('.edit_end_time').item(1);
          edit_start_time_hour_value = extractValue(edit_start_time_hour);
          edit_start_time_min_value = extractValue(edit_start_time_min);
          edit_end_time_hour_value = extractValue(edit_end_time_hour);
          edit_end_time_min_value = extractValue(edit_end_time_min);
          edit_duration.value = edit_end_time_hour_value - edit_start_time_hour_value + (edit_end_time_min_value / 60) - (edit_start_time_min_value / 60);
        });
      });
    });
  });

  photos = document.querySelectorAll('.ava')
  counter = 0;
  photos.forEach(photo => {
    photo.style.right = counter.toString() + 'px';
    counter = counter + 30;
  });

  sessions = document.querySelectorAll('.card-lg')
  sessions.forEach(card => {
    photos1 = card.querySelectorAll('.ava2')
    counter1 = 0;
    photos1.forEach(pic => {
      pic.style.right = counter1.toString() + 'px';
      counter1 = counter1 + 30;
    });
  });

</script>
