<div id="trainings_show_container"
     class="container-seven-large"
     data-controller="trainings--trainings-show">

  <div id='page-controls'>

    <% if request.referer.present? && request.referer.include?('search%5Btitle%5D') %>

      <%= link_to request.referer.present? ? request.referer : default_path, class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>

    <% else %>

      <%= link_to trainings_path, class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>

    <% end %>

    <% if ['super_admin', 'admin', 'training manager'].include? current_user.access_level %>

      <div class="page-controls-buttons flex-row-between-centered">

        <%= link_to export_training_to_airtable_path(id: @training.id),
                                                     class: "btn-icon-yellow",
                                                     title: "Update Airtable",
                                                     remote: true do %>

          <span class="iconify"
                data-icon="simple-icons:airtable"
                data-width="25"
                data-height="25"></span>

        <% end %>

        <%= link_to update_calendar_path(training_id: @training.id),
                                         class: "btn-icon-red",
                                         data: {
                                          trainings__trainings_show_target: 'calendarButton',
                                          link: update_calendar_path(training_id: @training.id),
                                          toggle: 'tooltip'
                                         },
                                         title: 'Update Calendar' do %>

          <i class="fas fa-calendar-check fs-2rem"></i>

        <% end %>

        <a id='add-session-button'
           class='btn-icon-grey'
           data-toggle='modal'
           data-target='#newSession'
           title="Add Session">

          <i class="fas fa-plus"></i>

        </a>

        <a class='btn-icon-grey'
           data-toggle='modal'
           data-target='#copyTraining'
           title="Copy">

          <i class="fas fa-copy"></i>

        </a>

        <div class="dropdown">

          <div id="dropdownNotificationButton"
               class='btn-icon-grey dropdown-toggle'
               data-toggle="dropdown">

            <i class="fas fa-envelope"></i>

          </div>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownNotificationButton">

            <li><%= link_to 'Send summary', trainer_notification_email_path(@training, status: 'new') %></li>

            <li>
              <a class="cursor-pointer"
                 data-toggle='modal'
                 data-target='#updateNotificationSelect'>Send updated summary</a>
            </li>

          </ul>

        </div>

        <div class="dropdown dropdown-training">

          <div class='btn-icon-grey btn-icon dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></div>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <li><a data-toggle='modal' data-target='#addAttendees' data-toggle="tooltip" title="Add Participants">Add participants</a></li> -->
            <!-- <li><%# link_to 'Export PDF', training_path(@training, format: :pdf), target: :_blank %></li> -->

            <li data-action="mouseover->trainings--trainings-show#openExportSubMenu trainings--trainings-show:click:outside->trainings--trainings-show#closeExportSubMenu">

              <div>

                <p>Export PDF</p>

                <div class="dropdown-pdf hidden">

                  <%= simple_form_for :training, url: training_path(@training, format: :pdf), html: { target: "_blank" }, method: :get do |f| %>
                    <%= f.input :sessions, collection: @training.sessions, as: :check_boxes %>
                    <%= f.submit 'Export', class: ' btn btn-edit-green' %>
                  <% end %>

                </div>

              </div>

            </li>

            <li><%= link_to 'Import Attendees', import_attendees_form_path(training_id: @training.id) %></li>

            <li><%= link_to 'Attendees List', attendees_path(training_id: @training.id) %></li>

            <li><%= link_to 'New invoice', new_invoice_item_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post %></li>

            <li><%= link_to 'New invoice Airtable', new_airtable_invoice_item_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post %></li>

            <li><%= link_to 'New invoice Airtable by Trainer', new_airtable_invoice_item_by_trainer_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id), method: :post %></li>

            <li><%= link_to 'Invoices List', invoice_items_path(training_id: @training.id, type: 'Invoice') %></li>

          </ul>

        </div>

      </div>

    <% else %>

      <div class="page-controls-buttons flex-row-between-centered">

        <%= link_to invoice_form_path(@training), class: 'btn btn-edit-green btn-icon', data: {toggle:'tooltip'}, title: 'Submit an invoice' do %>
          <i class="fas fa-file-invoice-dollar"></i>
        <% end %>

      </div>

    <% end %>

  </div>

  <div class="middle-info">

    <div class='middle-info-main'>

      <h3><strong><%= @training.client_contact.client_company.name %></strong></h3>

      <div class="d-flex justify-content-between align-items-center">

        <h3 class="mb-1rem">
          <%= @training.title %>
        </h3>

        <a class="d-none-changeable from-medium__d-flex mb-0_5rem"
           data-toggle="modal"
           data-target="#trainingInfos">
          <i class="fas fa-info-circle info" data-toggle='tooltip' title='More info on the training'></i>
        </a>

      </div>

      <p class="mb-1rem">
        <%="From #{@training.sessions.order(date: :asc).first&.date&.strftime('%d/%m/%y')} to #{@training.sessions.order(date: :asc).last&.date&.strftime('%d/%m/%y')}" %>
      </p>

    </div>

    <div class='middle-info-user d-flex flex-row-reverse align-items-center mr-1rem'>
      <%= render 'trainings/partials/show_training_users', training: @training %>
    </div>

  </div>

  <div class="middle-info2">

    <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

      <p id='survey-link'>Link to survey : <%= @training.satisfaction_survey %></p>

      <%= simple_form_for @training, html: { class: "hidden", id: 'survey-form' } do |f| %>

        <div style="display:flex;flex-direction:row;justify-content:space-between;align-items: center; height:100%;">

          <%= f.input :satisfaction_survey, placeholder: 'Add a link to the survey', value: @training.satisfaction_survey, label: false, input_html: { style: 'width: 200px;'} %>
          <%= button_tag type: 'submit', class: 'btn btn-add-user', input_html: { style: 'height: 3.5rem' } do %>
            Update
          <% end %>

        </div>

      <% end %>

    <% else %>

      <p id='survey-link'>Link to survey : <%= @training.satisfaction_survey %></p>

    <% end %>

    <% next_sessions = @training.sessions.order(date: :asc).where('date >= ?', Date.today) %>

    <% if next_sessions.present? && next_sessions&.first&.description&.present? %>
      <a href="<%= next_sessions.first.description %>" target="_blank">Lien Google Meet</a>
    <% end %>

  </div>


  <div class="training-info">

    <div class="sessions-cards">
      <%= render 'trainings/partials/show_sessions', training: @training %>
    </div>

  </div>

</div>

<!------------>
<!-- MODALS -->
<!------------>

<div id="trainingInfos"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog"
       role="document"
       style="border-radius: 2rem">
    <%= render 'trainings/show_infos', training: @training %>
  </div>

</div>

<div id="copyTraining"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog"
       role="document"
       style="border-radius: 2rem">
    <%= render 'copy', training: @training %>
  </div>

</div>

<div id="newTrainers"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog"
       role="document"
       style="border-radius: 2rem">
    <%= render 'session_trainers/trainers_link_to_training', training: @training,
                                                             page: 'training' %>
  </div>

</div>

<div id="newForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-sm"
       role="document"
       style="border-radius: 2rem">
    <%= render 'forms/new', form: @form %>
  </div>

</div>

<div id="updateNotificationSelect"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-sm"
       role="document"
       style="border-radius: 2rem">
    <%= render 'session_trainers/notification_select', training: @training %>
  </div>

</div>

<div id="newSession"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-lg"
       role="document"
       style="border-radius: 2rem">
    <%= render '/sessions/new' %>
  </div>

</div>

<div id="addAttendees"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog modal-lg"
       role="document"
       style="border-radius: 20px">
    <%= render 'session_attendees/new_all', training: @training %>
  </div>

</div>

<%# if @airtable_training.id.present? %>

<!--   <div id="consultObjectives"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       data-backdrop="static"
       data-keyboard="false">

    <div class="modal-dialog modal-lg"
         role="document"
         style="border-radius: 20px">
      <%# render 'show_objectives', training: @training, airtable_training: @airtable_training %>
    </div>

  </div> -->

<%# end %>