<div class="card card-mods grabbable" data-item-id="<%= workshop.id %>">

  <a id="<workshop.id %>"></a>

  <div class="card-left">

    <div class="mod-time">
      <%= start.strftime("%H:%M") %>
      <div class="circle"></div>
    </div>

    <div class="mod-duration">
      <%= "#{workshop.duration} min" %>
    </div>

    <% if workshop.position == @session.workshops.count %>

      <div class="mod-endtime">
        <%= (start + workshop.duration * 60).strftime("%H:%M") %>
        <div class="circle"></div>
      </div>

    <% end %>

  </div>

  <div class="card-right grabbable">

    <div class="card-category">

      <%= link_to training_session_workshop_path(workshop.session.training, workshop.session, workshop), class: 'stretched-link' do %>

        <div>

          <div class="card-title">

            <h4><%= workshop.title %>

              <% if exceed.include?(workshop.position) %>
                 <p class='error'>Durée de la session dépassée</p>
              <% end %>

            </h4>

          </div>

          <div class="card-description grabbable">

            <div class="mod-time-mobile">
              <%= start.strftime("%H:%M") %>
            </div>

            <ul>

              <% workshop.workshop_modules.order('position ASC').compact.each do |workmod| %>

                <li>

                  <text><%= workmod.title %></text>

                  <% if rythm_alert.include?(workmod) %>
                    <text class='error'>Attention au rythme</text>
                  <% end %>

                </li>

              <% end %>

            </ul>

          </div>

        </div>

      <% end %>

    </div>

    <div class='module-card-controls'>

      <% if ['super_admin', 'admin', 'training manager', 'sevener+'].include?(current_user.access_level) %>

        <a class="btn return-arrow" data-toggle='modal' data-target='#editWorkshop<%= workshop.id %>' data-toggle='tooltip' title='Edit'>
          <i class="fas fa-pen"></i>
        </a>

        <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

          <%= link_to training_session_copy_form_workshop_path(workshop.session.training, workshop.session, workshop), class: 'btn return-arrow btn-copy', data: { toggle: 'tooltip' }, title: 'Copy' do %>
            <i class="fas fa-copy"></i>
          <% end %>

        <% end %>

        <%= link_to training_session_workshop_path(workshop.session.training, workshop.session, workshop), method: :delete, data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, title: 'Delete', remote: true, class: 'btn return-arrow' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

        <% if workshop.position == 1 %>

          <a class='btn return-arrow'>
            <i class="fas fa-arrow-up" style='color:grey;cursor:default;'></i>
          </a>

        <% else %>

          <%= link_to training_session_move_up_workshop_path(workshop.session.training, workshop.session, workshop), data: { toggle: 'tooltip' }, title: 'Move up', remote: true, class: 'btn return-arrow' do %>
            <i class="fas fa-arrow-up"></i>
          <% end %>

        <% end %>

        <% if workshop.position ==  @session.workshops.count %>

          <a class='btn return-arrow'>
            <i class="fas fa-arrow-down" style='color:grey;cursor:default;'></i>
          </a>

        <% else %>

          <%= link_to training_session_move_down_workshop_path(workshop.session.training, workshop.session, workshop), data: { toggle: 'tooltip' }, title: 'Move down', remote: true, class: 'btn return-arrow' do %>
            <i class="fas fa-arrow-down"></i>
          <% end %>

        <% end %>

      <% end %>

    </div>

  </div>

</div>

<!------------>
<!-- MODALS -->
<!------------>

<div id="editWorkshop<%= workshop.id %>"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">

  <div class="modal-dialog rounded-20px" role="document">

    <%= render 'workshops/edit', workshop: workshop  %>

  </div>

</div>

<!------------>