<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= session.title %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [session.training, session] do |f| %>
      <div>
        <%= f.input :id_helper, as: :hidden, input_html: {value: session.id} %>
        <%= f.input :title, input_html: { style: 'width:100%;' } %>
      </div>
      <div class="flex-row-between-centered">
        <%= f.input :date, as: :string, input_html: { class: 'datepicker', style: 'width:11rem;'} %>
        <%= f.input :attendee_number, input_html: { min: 0, style: 'width:12rem;' }, label: 'Participants' %>
      </div>
      <div class='flex-row-between-centered'>
        <%= f.input :start_time, label: 'Start time', as: :time, minute_step: 15, input_html: { class: "timepicker edit_start_time", style: 'width:5rem;'}, default: Time.parse('9:00') %>
        <%= f.input :end_time, label: 'End time', as: :time, minute_step: 15, input_html: { class: 'timepicker edit_end_time', style: 'width:5rem;'}, default: Time.parse('17:00') %>
      </div>
      <div>
        <%= f.input :duration, label: "Billed Duration (hours) per trainer", input_html: {min: 0, style: 'width:11rem;', id: 'edit_duration'}, allow_blank: false %>
      </div>
      <%= f.input :description, label: "Google Meet link" %>
      <%= f.hidden_field :session_page, value: params[:page] %>
      <div class='modal-control'>
        <%= link_to type: 'submit', data: { toggle: 'tooltip' }, title: 'Save' do %>
          <div class="btn-edit-green"><p>Save</p> </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
