<div class="modal-content">

  <div class="modal-header modal-header-yellow">

    <div id="modal-title"
         class="d-flex justify-content-between">

      <h3 class="modal-title">Add a session</h3>

    </div>

    <button type="button"
            class="btn btn-icon-close"
            data-dismiss="modal"
            aria-label="Close">
      <i class="fas fa-times"></i>
    </button>

  </div>

  <div class="modal-body modal-body-yellow min-width-40rem">

    <% num_of_session = @training.sessions.count %>

    <%= simple_form_for [@training, Session.new] do |f| %>

      <div class="mb-2rem">

        <%= f.input :title, input_html: {
                              value: "Session #{num_of_session + 1}",
                              style: 'width:100%;'
                            } %>

      </div>

      <div class="d-flex justify-content-between align-items-center mb-1rem">

        <label>Participants</label>

        <%= f.input :attendee_number, input_html: {
                                        value: 0,
                                        min: 0,
                                        class: "width-8rem"
                                      },
                                      label: false %>

      </div>

      <div class="d-flex justify-content-between align-items-center mb-1rem">

        <label>Billed Duration (hours)</label>

        <%= f.input :duration, label: false,
                               input_html: {
                                 value: 0,
                                 min: 0,
                                 class: "width-8rem",
                                 id: 'new_duration'
                               },
                               allow_blank: false %>

      </div>

      <div class='d-flex justify-content-center mb-2rem'>

        <%= render(Tools::RadioCollectionComponent.new(elements: [['Face-to-face', 'Face-to-face'], ['Online', 'Online']],
                                                       input_name: 'session[session_type]',
                                                       klasses: "my-2rem",
                                                       horizontal: true,
                                                       data_action_check: 'click->contents--contents-index#searchSubmit',
                                                       checked: 'Face-to-face',
                                                       color: "yellow")) %>

      </div>

      <div class="mb-2rem">

        <label>Date</label>

        <%= f.input :date, as: :string,
                           label: false,
                           input_html: {
                            class: 'datepicker',
                            style: 'width:11rem;'
                           } %>

      </div>


      <div class="modal-div d-flex justify-content-between align-items-center">

        <div class="">

          <label>Start time</label>

          <%= f.input :start_time, label: false,
                                   as: :time,
                                   minute_step: 15,
                                   input_html: {
                                     class: "timepicker new_start_time",
                                     style: 'width:5rem;'
                                   },
                                   default: Time.parse('9:00') %>

        </div>

        <div class="">

          <label>Start time</label>

          <%= f.input :end_time, label: false,
                                 as: :time,
                                 minute_step: 15,
                                 input_html: {
                                   class: 'timepicker new_end_time',
                                   style: 'width:5rem;'
                                 },
                                 default: Time.parse('17:00') %>

        </div>

      </div>

      <div class='d-flex justify-content-center'>

        <%= button_tag type: 'submit', class: 'bld-btn-yellow', data: { toggle: 'tooltip' }, title: 'Save' do %>
          Create
        <% end %>

      </div>

    <% end %>

  </div>