<div class="container-seven-large d-flex flex-column align-items-center"
     data-controller="sessions--copy-form">

  <div id="page-controls"
       class="width-100">

    <%= link_to :back, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>

  </div>

  <div class="p-5rem min-width-50">

    <h3 id='copy_title'
        class='<%= @session.training.id %> mb-3rem'>
      Copy "<%= @session.title %>" to:
    </h3>

    <%= simple_form_for :copy,
                        url: training_copy_session_path(@session.training, @session),
                        method: 'GET',
                        data: {
                          sessions__copy_form_target: 'form'
                        } do |f| %>

      <div class="copy-form-element">

        <%= render(Tools::SelectAutocompleteComponent.new(path: trainings_search_path,
                                                                  additional_params: 'not_completed',
                                                                  width: '100%',
                                                                  menu_max_height: '22rem',
                                                                  placeholder: 'Search for training or leave empty to copy here',
                                                                  input_name: "copy[target_training_id]",
                                                                  data_action_input: 'change->sessions--copy-form#switchConfirmButton',
                                                                  data_action_select: 'click->trainings--show#selectTrainer click->sessions--copy-form#switchConfirmButton',
                                                                  klasses: 'mr-0 mb-2rem')) %>

        <div class="d-flex justify-content-between align-items-center">

          <label for="copy[amount]">Number of copies</label>

          <input type="numeric"
                 name="copy[amount]"
                 class="width-5rem text-center"
                 value="1">

        </div>

      </div>

      <div class='modal-control'>

        <%= button_tag type: 'submit', value: 'copy', class: 'btn btn-edit-green btn-icon btn-submit copy-button hidden', data: { toggle: 'tooltip' }, title: 'Copy' do %>
          <i class="fas fa-copy"></i>
        <% end %>

        <%= button_tag type: 'submit', value: 'copy_here', class: 'btn btn-edit-green btn-icon btn-submit copy-here-button', data: { toggle: 'tooltip' }, title: 'Copy here' do %>
          <i class="fas fa-angle-double-down"></i>
        <% end %>

      </div>

    <% end %>

  </div>

</div>