<div class="container-seven-large container-seven-large-centered"
     data-controller="contents--contents-index">

  <div id='page-index'>

    <div id="page-controls">

        <%= simple_form_for :search, url: contents_search_path, method: 'GET', remote: true do |f| %>

          <div class="d-flex justify-content-start align-items-center">

            <%= f.text_field :title, placeholder: 'Search',
                                     label: false,
                                     autocomplete: "off",
                                     data: { action: 'keyup->contents--contents-index#searchSubmit' } %>

            <%= render(Tools::CheckboxCollectionComponent.new(elements: [['true', 'Deep search']],
                                                                input_name: 'search[deep_mode]',
                                                                data_action_check: 'click->contents--contents-index#searchSubmit',
                                                                select_all: false)) %>

          </div>


          <%= f.submit '', class: 'hidden-submit hidden' %>

        <% end %>

      <div id="page-buttons">

        <% if ['super_admin', 'admin', 'training manager', 'sevener+'].include? current_user.access_level %>

          <%= link_to new_content_path do %>

            <div class="bld-btn-yellow">New workshop</div>

          <% end %>

        <% end %>

      </div>

    </div>

    <div id="contents-list">

      <%= render 'contents/index/index_contents_list', contents: @contents %>

    </div>

  </div>

</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>
  $('.content-index-theme-title').on('click', function(){
    if($(this).parent().children('.collapse').hasClass('show')) {
      $(this).parent().children('.collapse').collapse('hide');
    } else {
      $(this).parent().children('.collapse').collapse('show');
    }
  });
</script>

<!---------------->