<div data-controller="tools--checkbox-collection">

	<% if @select_all.present? %>

		<div class="d-flex justify-content-start align-items-center mb-2rem">

			<label class='flex-row-center-centered rounded-3px my-1rem mx-2rem border-bld-light-grey-0_5px cursor-pointer'
		           style='height: 2rem; width: 2rem;'
		           for='Select all'
		           data-action="click->tools--checkbox-collection#checkAll">

		    <input type="checkbox" class="d-none">

	      <svg class="hidden"
			           xmlns="http://www.w3.org/2000/svg"
			           aria-hidden="true"
			           role="img"
			           width="1.8rem"
			           height="1.8rem"
			           preserveAspectRatio="xMidYMid meet"
			           viewBox="0 0 16 16"
			           data-toggle-checked-participants-target="icon">
			           <path fill="#3177b7" d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093l3.473-4.425a.267.267 0 0 1 .02-.022z"/>
			      </svg>

			 </label>

			 <p class="font-weight-700">Select all</p>

		</div>

	<% end %>
	
	<% @elements.each do |key, text| %>

		<div class="d-flex justify-content-start align-items-center">
			
			<label class='flex-row-center-centered rounded-3px my-1rem mx-2rem border-bld-light-grey-0_5px cursor-pointer'
	           style='height: 2rem; width: 2rem;'
	           for='<%= key %>'
	           data-action="click->tools--checkbox-collection#check <%= @data_action_check %>">

		      <input type="checkbox"
		      			 id="<%= key %>"
		      			 name="<%= key unless @input_name.present? %>"
		      			 class="d-none"
		      			 data-tools--checkbox-collection-target='checkbox'>

		      <svg class="hidden"
		           xmlns="http://www.w3.org/2000/svg"
		           aria-hidden="true"
		           role="img"
		           width="1.8rem"
		           height="1.8rem"
		           preserveAspectRatio="xMidYMid meet"
		           viewBox="0 0 16 16"
		           data-toggle-checked-participants-target="icon">
		           <path fill="#3177b7" d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093l3.473-4.425a.267.267 0 0 1 .02-.022z"/>
		      </svg>

	    </label>

	    <p><%= text %></p>

		</div>

	<% end %>

	<input type="hidden"
		   	 name="<%= @input_name %>"
		   	 data-tools--checkbox-collection-target="selectedStorage">

</div>

