<div class="modal-content">
  <div class="modal-header modal-header-yellow">
    <div id="modal-title" style="display:flex;justify-content:center;text-align:center;">
      <% if training.present? %>
        <h3 class="modal-title" id="myModalLabel">Edit Trainers (Whole Training)</h3>
      <% else %>
        <h3 class="modal-title" id="myModalLabel">Edit Trainers</h3>
      <% end %>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody" style='display:flex;flex-direction:column;align-items:center;'>
    <div class="users-select">
      <div>
        <label for="trainers-select">Add a trainer:</label>
        <select name="trainers" id="trainers-select">
          <optgroup label="SEVEN">
          <% User.where(access_level: ['super admin', 'admin']).order(lastname: :asc).each do |user| %>
            <option value="<%= user.id %>|<%= user.fullname %>"><%= user.fullname %></option>
          <% end %>
          <optgroup label="Seveners">
          <% User.where(access_level: ['sevener+', 'sevener']).order(lastname: :asc).each do |user| %>
            <option value="<%= user.id %>|<%= user.fullname %>"><%= user.fullname %></option>
          <% end %>
        </select>
      </div>
      <button onclick='selectTrainer(this);'>Add</button>
    </div>
    <div class="users-list">
      <div class="trainer-pill trainer-pill-template hidden">
        <p></p>
        <i class="fas fa-times"></i>
      </div>
      <% training.present? ? users = User.joins(:session_trainers).where(session_trainers: {session_id: training.sessions.map(&:id), status: nil}).order(lastname: :asc).uniq : users = User.joins(:session_trainers).where(session_trainers: {session_id: session.id, status: nil}).order(lastname: :asc) %>
      <% users.each do |user| %>
        <div id='user-<%= user.id %>'class="trainer-pill">
          <p><%= user.fullname %></p>
          <i class="fas fa-times" onclick='this.parentNode.remove();'></i>
        </div>
      <% end %>
    </div>
    <div>
      <% if training.present? %>
        <%= simple_form_for :link, url: trainers_link_to_training_path, method: :get, remote: true do |f| %>
          <%= f.hidden_field :training_id, value: training.id %>
          <%= f.hidden_field :trainer_ids %>
          <%= f.submit '', class: 'hidden-submit hidden' %>
        <% end %>
      <% else %>
        <%= simple_form_for :link, url: trainers_link_to_session_path, method: :get, remote: true do |f| %>
          <%= f.hidden_field :session_id, value: session.id %>
          <%= f.hidden_field :trainer_ids %>
          <%= f.hidden_field :page, value: page %>
          <%= f.submit '', class: 'hidden-submit hidden' %>
        <% end %>
      <% end %>
      <button class='btn-yellow' onclick='confirmTrainers(this);'>Confirm</button>
    </div>
  </div>
</div>

