<div class="container-seven-large container-seven-large-centered">
  <div id='page-index'>
    <div id="page-controls">
        <%= simple_form_for :search, url: users_path, method: 'GET' do |f| %>
          <% if params[:search] %>
            <%= f.input :name, placeholder: params[:search][:name], label: false %>
            <%= link_to users_path, class: 'search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% else %>
            <%= f.input :name, placeholder: 'Search Users', label: false %>
          <% end %>
        <% end %>
      <div id="page-buttons">
        <% if ['super admin', 'admin', 'HR'].include? current_user.access_level %>
          <%= link_to new_user_path do %>
            <div class="btn-edit-yellow-mobile">New User</div>
            <div class="btn-icon-grey-mobile"><i class="fas fa-plus"></i></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="client-contact-list">
      <h1>Users list</h1>
      <% if params[:search].present? %>
        <h3>Search</h3>
        <% @users.each do |user| %>
          <li>
            <%= link_to user_path(user) do %>
              <div class="index-card-large index-card-small">
                <img class='client-company-logo-index' src='<%= "#{user.picture}" %>' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                <div class="client-company-type-address">
                  <p><%= "#{user.lastname.upcase} #{user.firstname}" %></p>
                  <div>
                    <p><%= user.email %></p>
                    <p><%= user.access_level.capitalize %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <h3>Seven</h3>
        <% @users.where(access_level: ['super admin', 'admin', 'training manager']).each do |user| %>
          <li>
            <%= link_to user_path(user) do %>
              <div class="index-card-large index-card-small">
                <img class='client-company-logo-index' src='<%= "#{user.picture}" %>' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                <div class="client-company-type-address">
                  <p><%= "#{user.lastname.upcase} #{user.firstname}" %></p>
                  <div>
                    <p><%= user.email %></p>
                    <p><%= user.access_level.capitalize %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
        <h3 style='margin-top: 3rem;'>Seveners</h3>
        <% @users.where(access_level: ['sevener+', 'sevener']).each do |user| %>
          <li>
            <%= link_to user_path(user) do %>
              <div class="index-card-large index-card-small">
                <img class='client-company-logo-index' src='<%= "#{user.picture}" %>' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                <div class="client-company-type-address">
                  <p><%= "#{user.lastname.upcase} #{user.firstname}" %></p>
                  <div>
                    <p><%= user.email %></p>
                    <p><%= user.access_level.capitalize %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
