<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to users_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a user</h3>

  <%= simple_form_for @user do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :email, input_html: { style: 'display:none;', name: 'false-email'}, label: false %>
    <%= f.input :access_level, collection: ['super_admin', 'admin', 'training manager', 'sevener+', 'sevener'], include_blank: false %>
    <%= f.input :password, input_html: { style: 'display:none;', name: 'false-password'}, label: false %>
    <%= f.input :password %>
    <%= f.input :linkedin %>
    <%= f.input :picture, label: 'Photo URL' %>
    <%= f.input :description, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
    <%= f.input :rating, input_html: { min: '0', max: '5' }  %>
    <div style='display: flex; justify-content: center;'>
      <%= button_tag type: 'submit', class:'btn btn-edit-green' do %>
        <p>Save</p>
    <% end %>
    </div>
  <% end %>
</div>
