<div id="container-login"
     data-controller="users--users-reset-password">

  <div class="login">

    <div id="login-div">

      <div class="login-title flex-row-around-centered">

        <h2>Builder by</h2>
        <img src="https://byseven.co/assets/img/LOGO_SEVEN.png" alt="" height='50px'>

      </div>

      <div id="reset-form">

        <div class="d-flex justify-content-center mb-2rem">
          <p class="font-weight-700">Change your password</p>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden, value: params[:reset_password_token] %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs">
            <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: {
                  autocomplete: "new-password",
                  data: {
                    users__users_reset_password_target: 'newPassword',
                    action: "keyup->users--users-reset-password#checkPasswordMatch"
                  }
                } %>
            <%= f.input :password_confirmation,
                label: "Confirm your new password",
                input_html: {
                  data: {
                    users__users_reset_password_target: 'confirmPassword',
                    action: "keyup->users--users-reset-password#checkPasswordMatch"
                  }
                },
                required: true %>
          </div>

          <div class="d-flex justify-content-center mt-2rem">

            <button type="submit"
                    class="bld-btn-yellow disabled"
                    disabled>
              Confirm
            </button>

          </div>

        <% end %>

      </div>

    </div>

  </div>

</div>