<div class="left-navbar left-navbar-builder">
  <div class="left-navbar-top">
    <div class="dropdown show left-menu-list-user">
      <a class="navbar-user-card userhidden flex-row-between-centered" href="#" role="button" id="dropdownMenuLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="<%= current_user.picture %>" alt="<%= current_user.fullname %>" class='avatar-xs' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
        <div class='left-menu-title-user'>
          <h4><%= current_user.fullname %></h4>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" id='dropdown-user-menu' aria-labelledby="dropdownMenuLogout">
        <div class="dropdown-card dropdown-item flex-row-between-centered">
          <p>Account</p>
        </div>
        <%= link_to user_path(current_user) do %>
          <div class="dropdown-card dropdown-item flex-row-between-centered">
            <i class="fas fa-user"></i>
            <div class='dropdown-card-text'>
              <h6>Profile</h6>
            </div>
          </div>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="dropdown-card dropdown-item flex-row-between-centered">
            <i class="fas fa-sign-out-alt"></i>
            <div class='dropdown-card-text'>
              <h6>Log out</h6>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if params[:controller] == 'sessions' && params[:action] == 'viewer' %>
    <div class="left-navbar-middle">
      <% @session.workshops.order(position: :asc).each do |workshop| %>
        <a href="#<%= workshop&.id %>">
          <div class="left-menu-list">
            <p><%= workshop&.title %></p>
          </div>
        </a>
      <% end %>
    </div>
  <% elsif params[:controller] == 'workshops' && params[:action] == 'viewer' %>
    <div class="left-navbar-middle">
      <% @workshop.workshop_modules.order(position: :asc).each do |mod| %>
        <a href="#<%= mod&.id %>">
          <div class="left-menu-list">
            <p><%= mod&.title %></p>
          </div>
        </a>
      <% end %>
    </div>
  <% else %>
    <div class="left-navbar-middle">
      <% if user_signed_in? %>
        <%= link_to trainings_path(page: 1), class: 'left-buttons' do %>
          <% if request.original_url&.split('/')[3]&.split('?')&.first == 'trainings' %>
            <div class="left-menu-list active">
              <i class="fas fa-tasks"></i> <div class="left-menu-title"><h4>Trainings</h4></div>
            </div>
          <% else %>
            <div class="left-menu-list">
              <i class="fas fa-tasks"></i> <div class="left-menu-title"><h4>Trainings</h4></div>
            </div>
          <% end %>
        <% end %>
        <% if ['super admin', 'admin', 'training manager', 'sevener+'].include? current_user.access_level %>
          <%= link_to contents_path, class: 'left-buttons' do %>
            <% if request.original_url&.split('/')[3]&.split('?')&.first == 'contents' %>
              <div class="left-menu-list active">
                <i class="fas fa-toolbox"></i> <div class="left-menu-title"><h4>Workshops</h4></div>
              </div>
            <% else %>
              <div class="left-menu-list">
                <i class="fas fa-toolbox"></i> <div class="left-menu-title"><h4>Workshops</h4></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
          <%= link_to theories_path, class: 'left-buttons' do %>
            <% if request.original_url&.split('/')[3]&.split('?')&.first == 'theories' %>
              <div class="left-menu-list active">
                <i class="fas fa-book"></i> <div class="left-menu-title"><h4>Library</h4></div>
              </div>
            <% else %>
              <div class="left-menu-list">
                <i class="fas fa-book"></i> <div class="left-menu-title"><h4>Library</h4></div>
              </div>
            <% end %>
          <% end %>
          <%= link_to client_companies_path, class: 'left-buttons' do %>
            <% if request.original_url&.split('/')[3]&.split('?')&.first == 'companies' %>
              <div class="left-menu-list active">
                <i class="far fa-copyright"></i> <div class="left-menu-title"><h4>Clients</h4></div>
              </div>
            <% else %>
              <div class="left-menu-list">
                <i class="far fa-copyright"></i> <div class="left-menu-title"><h4>Clients</h4></div>
              </div>
            <% end %>
          <% end %>
          <%= link_to users_path, class: 'left-buttons' do %>
            <% if request.original_url&.split('/')[3]&.split('?')&.first == 'users' %>
              <div class="left-menu-list active">
                <i class="fas fa-user-tie"></i> <div class="left-menu-title"><h4>Users</h4></div>
              </div>
            <% else %>
              <div class="left-menu-list">
                <i class="fas fa-user-tie"></i> <div class="left-menu-title"><h4>Users</h4></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
          <%= link_to actions_path, class: 'left-buttons' do %>
            <% if request.original_url&.split('/')[3]&.split('?')&.first == 'actions' %>
              <div class="left-menu-list active">
                <i class="fas fa-running"></i> <div class="left-menu-title"><h4>Actions</h4></div>
              </div>
            <% else %>
              <div class="left-menu-list">
                <i class="fas fa-running"></i> <div class="left-menu-title"><h4>Actions</h4></div>
              </div>
            <% end %>
          <% end %>
          <%= link_to report_path, class: 'left-buttons' do %>
            <% if request.original_url&.split('/')[3]&.split('?')&.first == 'report' %>
              <div class="left-menu-list active">
                <i class="fas fa-chart-bar"></i> <div class="left-menu-title"><h4>Reports</h4></div>
              </div>
            <% else %>
              <div class="left-menu-list">
                <i class="fas fa-chart-bar"></i> <div class="left-menu-title"><h4>Reports</h4></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if ['sevener+', 'sevener'].include? current_user.access_level %>
          <%= link_to billing_path(user_id: current_user), class: 'left-buttons' do %>
            <% if request.original_url&.split('/')[3]&.split('?')&.first == 'billing' %>
              <div class="left-menu-list active">
                <i class="fas fa-book"></i> <div class="left-menu-title"><h4>Billing</h4></div>
              </div>
            <% else %>
              <div class="left-menu-list">
                <i class="fas fa-book"></i> <div class="left-menu-title"><h4>Billing</h4></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="left-navbar-bottom">
          <% if params[:controller] == 'sessions' && params[:action] == 'viewer' %>
            <%= link_to 'Exit View Mode', training_session_path(@session.training, @session), class: 'btn btn-edit-red' %>
          <% elsif params[:controller] == 'workshops' && params[:action] == 'viewer' %>
            <%= link_to 'Exit View Mode', training_session_path(@workshop.session.training, @workshop.session), class: 'btn btn-edit-red' %>
          <% end %>
          <div class="btn-icon left-navbar-control-open">
            <i class="fas fa-arrow-right"></i>
          </div>
          <div class="btn-icon hidden left-navbar-control-close">
            <i class="fas fa-times"></i>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="left-navbar-bottom">
    <%= link_to root_path, class: "left-navbar-logo hidden" do %>
      <%= image_tag "SEVENLOGO_SQUARE2.png" %>
    <% end %>
    <%= link_to root_path, class: "left-navbar-logo-small" do %>
      <%= image_tag "SEVENLOGO_SQUARE4.png" %>
    <% end %>
  </div>
</div>

<script>
  open = document.querySelector('.left-navbar-control-open');
  close = document.querySelector('.left-navbar-control-close');
  left_navbar = document.querySelector('.left-navbar');
  logo = document.querySelector('.left-navbar-logo');
  user = document.querySelector('.navbar-user-card');
  logo_small = document.querySelector('.left-navbar-logo-small');
  open.addEventListener('click', (event) => {
    user.classList.remove('userhidden');
    container = document.querySelector('.container-seven-large');
    page_controls = document.getElementById('page-controls');
    left_navbar.style.width = '220px';
    setTimeout(function(){logo.classList.toggle('hidden');}, 250);
    setTimeout(function(){logo_small.classList.toggle('hidden');}, 250);
    open.classList.toggle('.hidden');
    close.classList.toggle('.hidden');
    if (window.innerWidth > 1440) {
      container.style.width = (1440 - 220).toString() + 'px';
      container.style.marginLeft = '220px';
      page_controls.style.width = (1440 - 280).toString() + 'px';
    } else {
      container.style.width = (window.innerWidth - 220).toString() + 'px';
      container.style.marginLeft = '220px';
      page_controls.style.width = (window.innerWidth - 280).toString() + 'px';
    }
  })
  close.addEventListener('click', (event) => {
    user.classList.add('userhidden');
    container = document.querySelector('.container-seven-large');
    page_controls = document.getElementById('page-controls');
    left_navbar.style.width = '60px';
    logo.classList.toggle('hidden');
    logo_small.classList.toggle('hidden');
    open.classList.toggle('.hidden');
    close.classList.toggle('.hidden');
    if (window.innerWidth >= 1440) {
      container.style.width = (1440 - 60).toString() + 'px';
      container.style.marginLeft = '60px';
      page_controls.style.width = (1440 - 120).toString() + 'px';
    } else {
      container.style.width = (window.innerWidth - 60).toString() + 'px';
      container.style.marginLeft = '60px';
      page_controls.style.width = (window.innerWidth - 120).toString() + 'px';
    }
  })
</script>

