<div class="container-seven-large">
  <div id="page-controls">
    <%= link_to training_path(@training), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <% if @training.present? %>
    <h2 style='margin-bottom: 30px;'>Import Attendees for Training : <%= @training.client_company.name + ' - ' + @training.title %></h2>
  <% elsif @session.present? %>
    <h2 style='margin-bottom: 30px;'>Import Attendees for Session : <%= @session.title %></h2>
  <% end %>
  <div id='attendee-table-container'><div id="attendee-table"><button class="btn-add-row"><i class="fas fa-plus"></i></button></div></div>

  <%= simple_form_for :import, url: import_attendees_path, method: :post do |f| %>
    <%= f.hidden_field :attendees %>
    <% if params[:training_id].present? %>
      <%= f.hidden_field :training_id, value: params[:training_id] %>
    <% elsif params[:session_id].present? %>
      <%= f.hidden_field :session_id, value: params[:session_id] %>
    <% end %>
    <%= f.submit 'Import', class: 'hidden-submit hidden' %>
    <button class="btn btn-edit-yellow" onclick="extractData()">Import</button>
  <% end %>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

<script>
  window.onload = function() {
    const data = [
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', ''],
      ['', '', '', '']
    ];

    table_container = document.getElementById('attendee-table');
    const hot = new Handsontable(table_container, {
      data: data,
      rowHeaders: true,
      colHeaders: ['First Name', 'Last Name', 'Email', 'Company Id (optional)'],
      colWidths: 200
    });
    document.getElementById('hot-display-license-info').remove();

    document.querySelector('.btn-add-row').addEventListener('click', function() {
      var col = hot.countRows();
      hot.alter('insert_row', col, 1);
    })
  }


  function extractData() {
    rows = document.querySelector('.ht_master').querySelector('tbody').querySelectorAll('tr')
    list = []
    rows.forEach((row) => {
      cells = row.querySelectorAll('td')
      row_list = []
      cells.forEach((cell) => {
        row_list.push(cell.innerHTML)
      })
      list.push(row_list)
    })
    document.querySelector('#import_attendees').value = JSON.stringify(list)
    document.querySelector('.hidden-submit').click()
  }
</script>
