<div class="container-seven-large container-seven-large-centered">
  <div id='page-index'>
    <div id="page-controls">
      <h1>Attendees list</h1>
      <div id="page-buttons">
        <%= simple_form_for :search, url: users_path, method: 'GET' do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
          <% if params[:search] %>
            <%= link_to users_path, class: 'user-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
        <% if ['super_admin', 'admin', 'HR'].include? current_user.access_level %>
          <%= link_to new_user_path do %>
            <button class="btn btn-edit-yellow">New User</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="client-contact-list">
      <% if @client_company.present? %>
        <h3><%= @client_company.name %> : Employees</h3>
      <% end %>
      <% @attendees.each do |attendee| %>
        <li>
          <%= link_to attendee_path(attendee) do %>
            <div class="index-card-large index-card-small">
              <img class='client-company-logo-index' src='<%= "#{attendee.client_company.logo}" %>'>
              <div class="client-company-type-address">
                <p><%= "#{attendee.lastname.upcase} #{attendee.firstname}" %></p>
                <div>
                  <p><%= attendee.email %></p>
                </div>
                <div>
                  <p><%= attendee.client_company.name %></p>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
