<div>

  <% invoice_item.invoice_lines.order('position ASC').each do |line| %>

    <% if line.comments == 'chapter' %>

      <div class="pos-rel">

        <div class="invoice-desc-line-controls">

          <% if line.position == 1 %>

            <a class="cursor-default">
              <i class="fas fa-caret-up" style='color:grey;'></i>
            </a>

          <% else %>

            <%= link_to move_up_invoice_line_path(line), remote: true do %>
              <i class="fas fa-caret-up"></i>
            <% end %>

          <% end %>

          <% if line.position == invoice_item.invoice_lines.count %>

            <a class="cursor-default">
              <i class="fas fa-caret-down" style='color:grey;'></i>
            </a>

          <% else %>

            <%= link_to move_down_invoice_line_path(line), remote: true do %>
              <i class="fas fa-caret-down"></i>
            <% end %>

          <% end %>

        </div>

        <a class="edit-fafa"
           data-toggle='modal'
           data-target='#editLine<%= line.id %>'>

          <div class="invoice-desc-line-chapter">

            <p class="font-weight-700">
              <%= line.description %>
            </p>

          </div>

        </a>

      </div>

    <% else %>

      <div class="pos-rel">

        <div class="invoice-desc-line-controls">

          <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

            <% if line.position == 1 %>

              <a class="cursor-default">
                <i class="fas fa-caret-up" style='color:grey;'></i>
              </a>

            <% else %>

              <%= link_to move_up_invoice_line_path(line), remote: true do %>
                <i class="fas fa-caret-up"></i>
              <% end %>

            <% end %>

            <% if line.position == invoice_item.invoice_lines.count %>

              <a class="cursor-default">
                <i class="fas fa-caret-down" style='color:grey;'></i>
              </a>

            <% else %>

              <%= link_to move_down_invoice_line_path(line), remote: true do %>
                <i class="fas fa-caret-down"></i>
              <% end %>

            <% end %>

          <% end %>

        </div>

        <a class="edit-fafa"
           data-toggle='modal'
           data-target='#editLine<%= line.id %>'>

          <div  class="invoice-desc-line">

            <p>
              <strong><%= line.description %></strong>
            </p>

            <div>
              <% if line.product.present? %>
                <p><%= line.quantity %></p>
                <p><%= number_with_precision(line.net_amount, precision: 2) %></p>
                <p><%= number_with_precision(line.net_amount * line.quantity, precision: 2) %></p>
                <p><%= "#{line.tax_amount}%" %></p>
              <% end %>
            </div>

          </div>

        </a>

        <% if line.comments.nil? || line.comments.empty? %>

          <div class="invoice-line-comments">
            <%= link_to 'Ajouter un commentaire', edit_invoice_line_path(line) %>
          </div>

        <% elsif ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

          <div class="invoice-line-comments">
            <%= link_to line.comments.html_safe, edit_invoice_line_path(line) %>
          </div>

        <% else %>

          <div class="invoice-line-comments-disabled">
            <%= line.comments.html_safe %>
          </div>

        <% end %>

      </div>

    <% end %>

    <!------------>
    <!-- MODALS -->
    <!------------>

    <% unless line.id.nil? %>

      <div id="editLine<%= line.id %>"
           class="modal fade"
           tabindex="-1"
           role="dialog">

        <div class="modal-dialog modal-lg rounded-20px">
          <%= render 'invoice_lines/edit', line: line %>
        </div>

      </div>

    <% end %>

    <!------------>

  <% end %>

</div>
