<div class="container-new-form">
  <p class="fs-2rem font-weight-700 mb-2rem"><%= @invoiceline.description %></p>

  <%= simple_form_for @invoiceline do |f| %>
    <%= f.label :comments %>
    <%= f.cktext_area :comments %>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit-yellow' %> </p>
  <% end %>
</div>
