<% unavailable = [] %>

<% SessionTrainer.joins(:session).where(sessions: {date: session.date}, user_id: session.session_trainers.map(&:user_id), status: nil).group_by{|y| y.user_id}.each do |key, value| %>

  <% if value.count > 1 %>

    <% is_overlapping = value.sort_by{|x| x.session.start_time}.each_cons(2).any? do |x,y| %>
      <% x.session.period.last > y.session.period.first %>
    <% end %>

    <% unavailable << User.find(key).fullname if is_overlapping %>

  <% end %>

<% end %>

<% timing_error = session.workshops.map(&:duration).sum / 60 > (session.end_time - session.start_time) / 3600 %>


<div class="card-lg <%= 'border-bld-negative-red-2px' if timing_error %>">

  <div class="card-footer-lg">

    <% if session.start_time && session.end_time %>

      <div class="card-footer-lg__infos">

        <div class='card-footer-lg__block'>

          <p id='<%= "date-form-" + "#{session.id.to_s}" %>'
             class="width-10rem text-center">
            <%="#{session&.date&.to_s.presence || 'A dater'}"%>
          </p>

        </div>

        <div class='card-footer-lg__block'>
          <div id='<%= "time-form-" + "#{session.id.to_s}" %>'
               class="d-flex justify-content-center">
            <p class="width-6rem px-0_5rem text-center"><%= session.start_time.strftime("%k:%M") %></p>
            <p>to</p>
            <p class="width-6rem px-0_5rem text-center"><%= session.end_time.strftime("%k:%M") %></p>
          </div>
        </div>

        <div class='card-footer-lg__block width-7rem'>
          <i class="fas fa-stopwatch"></i>
          <p id='<%= "duration-form-" + "#{session.id.to_s}" %>'><%= session.duration %> h</p>
        </div>

        <div class='card-footer-lg__block width-8rem'>

          <i class="fas fa-users"></i>

          <% attendees = '' %>
          <% session.attendees.order(lastname: :asc).each do |attendee| %>
            <% attendees += attendee.fullname + "\n" %>
          <% end %>

          <p id='<%= "attendee-form-" + "#{session.id.to_s}" %>' data-toggle='tooltip' title="<%= attendees %>"><%= session.attendees.count %>/<%= session.attendee_number %></p>

        </div>

        <div class='card-footer-lg__block width-15rem'>

          <% if session.session_type == 'Face-to-face' %>

            <i class="fas fa-chalkboard-teacher"></i>
            <p id='<%= "session_type-form-" + "#{session.id.to_s}"%>'>Face-to-face</p>

          <% else %>

            <i class="fas fa-laptop"></i>
            <p id='<%= "session_type-form-" + "#{session.id.to_s}"%>'>Online</p>

          <% end %>

        </div>

      </div>

      <div class="card-footer-lg__form hidden">

        <%= simple_form_for :session, url: training_update_ajax_session_path(training_id: session.training.id, id: session.id), method: :patch, remote: true, input_html: {multipart: true} do |f| %>

          <div class='card-footer-lg__block'>
            <%= f.input :date, as: :string, input_html: { class: 'datepicker', value: session.date, style: 'width: 10rem; text-align: center;' }, label: false %>
          </div>

          <div class='card-footer-lg__block'>

            <div class="d-flex justify-content-between align-items-center height-100">
              <%= text_field_tag(
                          "session[start_time]",
                          session.start_time,
                          type: :time,
                          label: false,
                          class: 'border-none bld-bg-transparent text-center timepicker_24 px-0_5rem border-bottom-bld-black-1px-hover',
                          data: {
                            default_time: (session.start_time.strftime('%H:%M') || '09:00')
                          },
                          style: 'width: 60px; border-bottom: 1px solid rgba(0,0,0,0.42);',
                          ) %>

              <p>to</p>

              <%= text_field_tag(
                          "session[end_time]",
                          session.end_time,
                          type: :time,
                          label: false,
                          class: 'border-none bld-bg-transparent text-center timepicker_24 px-0_5rem border-bottom-bld-black-1px-hover',
                          data: {
                            default_time: (session.end_time.strftime('%H:%M') || '17:00')
                          },
                          style: 'width: 60px; border-bottom: 1px solid rgba(0,0,0,0.42);',
                          ) %>

            </div>

          </div>

          <div class='card-footer-lg__block width-7rem'>
            <i class="fas fa-stopwatch"></i>
            <%= f.input :duration, label: false, input_html: {min: 0, style: 'width: 4rem; text-align: center;', id: 'edit_duration', value: session.duration}, allow_blank: false %>
            <p>h</p>
          </div>

          <div class='card-footer-lg__block width-8rem'>
            <i class="fas fa-users"></i>
            <%= f.input :attendee_number, input_html: { min: 0, value: session.attendee_number, style: 'width: 4rem; text-align: center;' }, label: false %>
          </div>

          <div class='card-footer-lg__block width-15rem'>
            <div class='flex-column-between-left'>

              <%= render(Tools::SelectComponent.new(width: '100%',
                                                        menu_height: 'fit-content',
                                                        title: 'Session type',
                                                        input_name: 'session[session_type]',
                                                        collection: ['Face-to-face', 'Online'],
                                                        selected_text: session.session_type,
                                                        data_action: '')) %>
            </div>
          </div>

          <div class='card-footer-lg__block-absolute'>
            <%= f.input :title, label: false, input_html: {value: session.title, style: 'width:100%;'} %>
          </div>

          <div class='card-footer-lg__block-button'>
            <%= f.hidden_field :session_number, value: session_number %>

            <%= f.submit 'Save', class: 'bld-btn-yellow' %>
          </div>

        <% end %>

      </div>

    <% end %>

  </div>

  <div class="card-main-lg pos-rel">

    <%= link_to '', training_session_path(session.training, session), class: 'stretched-link' %>

    <div class="card-session-header">

      <h3 id='<%= "title-form-" + "#{session.id.to_s}" %>' data-toggle='tooltip' title='Modify Title'><%= session.title %></h3>

      <% users = User.where(id: session.session_trainers.where(status: nil).map(&:user_id)).order(lastname: :asc) %>
      <% user_names = users.map{|x| x.fullname}.join("\n") %>

      <div class="d-flex align-items-center pos-abs"
           style='right: 0px; top: -62px;'>

        <div id="owner-session-index"
             class="d-flex flex-row-reverse align-items-center mr-2rem">

          <% users.first(3).each do |user| %>

            <% if user.picture.present? %>

              <a class="mr--1rem"
                 data-toggle='modal'
                 data-target='#consultUser<%= user.id %>'>

                <img src='<%= "#{user.picture}" %>'
                     class='avatar-sm-trainer'
                     title='Trainer:  <%= "#{user.fullname}" %>'>

              </a>

            <% else %>

              <a class="mr--1rem"
                 data-toggle='modal'
                 data-target='#consultUser<%= user.id %>'>

                 <img src='<%= asset_path('empty-avatar.png', type: :image) %>'
                      class='avatar-sm-trainer'
                      title='Trainer:  <%= "#{user.fullname}" %>'>

              </a>

            <% end %>

          <% end %>

          <% if users.count > 3 %>

            <div class="avatar-sm-add mr--1rem"
                 title="<%= user_names %>">

              <i class="fas fa-ellipsis-h"></i>

            </div>

          <% end %>

          <% if ['super_admin', 'admin', 'project manager'].include?(current_user.access_level) %>

            <button class="avatar-sm-add mr--1rem"
                    data-toggle='modal'
                    data-target='#addTrainer<%= session.id %>'
                    title="Add Trainer">

              <i class="fas fa-plus"></i>

            </button>

          <% end %>

        </div>

      </div>

    </div>

    <div class="mods-list">
      <%= render_async show_session_content_path(session_id: session.id) %>
    </div>

  </div>

  <div class='sessions-footer'>

    <div class="sessions-alert">

      <% if ['super_admin', 'admin', 'project manager'].include?(current_user.access_level) %>

        <% if timing_error %>

          <p class='timing_error error'>La durée de la session ne correspond pas aux horaires choisis</p>

        <% end %>

        <% if unavailable.count > 0 %>

          <p class='error'>Sevener(s) non disponible(s) : <%= unavailable.sort.join(', ') %></p>

        <% end %>

      <% end %>

    </div>

    <div id="session-menu"
         class='sessions-copy d-flex justify-content-end align-items-center'>

      <% if ['super_admin', 'admin', 'project manager'].include?(current_user.access_level) %>

        <div class='d-flex justify-content-center align-items-center width-3rem height-3rem bld-light-grey2
                    bld-dark-grey-hover cursor-pointer'

             data-action="click->trainings--trainings-show#openSessionForm">
          <i class="fas fa-pen"></i>
        </div>

        <%= link_to training_copy_form_session_path(session.training, session,
                    page: params[:page]),
                    class: "d-flex justify-content-center align-items-center width-3rem height-3rem bld-light-grey2 bld-dark-grey-hover cursor-pointer",
                    data: { toggle: 'tooltip'},
                    title: 'Copy Session' do %>

          <i class="fas fa-copy"></i>

        <% end %>

        <%= link_to remove_session_trainers_path(session_id: session.id, destroy: 'true'),
                    class: "d-flex justify-content-center align-items-center width-3rem height-3rem bld-light-grey2 bld-dark-grey-hover cursor-pointer",
                    data: { toggle: 'tooltip', confirm: 'Are you sure ?'},
                    title: 'Delete' do %>

          <i class="fas fa-trash-alt"></i>

        <% end %>

      <% end %>

      <h4 class='card-session-number bld-light-grey2 ml-1rem'><%= session_number %>/<%= session.training.sessions.count %> </h4>

    </div>

  </div>

</div>


<!------------>
<!-- MOBILE -->
<!------------>

<div class="card-lg-mobile">

  <div class="card-footer-lg-mobile">

    <% if session.start_time && session.end_time %>

      <div class="card-footer-lg__infos-mobile">

        <div class="session-date-time width-100">

            <p id='<%= "date-form-" + "#{session.id.to_s}" %>'
               class="mr-5rem">
              <%="#{session&.date&.to_s.presence || 'A dater'}"%>
            </p>

            <p id='<%= "time-form-" + "#{session.id.to_s}" %>'>
              <%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %>
            </p>

            <div class="ml-2rem">

              <% if ['super_admin', 'admin', 'project manager'].include?(current_user.access_level) %>

                <%= render Buttons::OptionsButtonComponent.new(vertical: true) do %>

                  <%= link_to 'Copy Session', training_copy_form_session_path(session.training, session, page: params[:page]),
                                              class: "flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover width-100 p-3",
                                              data: { toggle: 'tooltip'},
                                              title: 'Copy Session' %>

                  <a class='flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover width-100 p-3'
                     data-toggle='modal'
                     data-target='#editSession<%= session.id %>'>
                    Edit Session
                  </a>

                  <%= link_to 'Delete Session', remove_session_trainers_path(session_id: session.id, destroy: 'true'),
                                                class: "flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover width-100 p-3",
                                                data: { toggle: 'tooltip', confirm: 'Are you sure ?'},
                                                title: 'Delete' %>

                <% end %>

              <% end %>

            </div>

        </div>

      </div>

    <% end %>

  </div>

  <div class="card-main-lg-mobile pos-rel">

    <%= link_to '', training_session_path(session.training, session), class: 'stretched-link' %>

    <div class="card-session-header-mobile">
      <h3 id='<%= "title-form-" + "#{session.id.to_s}" %>'><%= session.title %></h3>
    </div>

    <div class="mods-list">
      <%= render_async show_session_content_path(session_id: session.id) %>
    </div>

    <div class='sessions-footer'>

      <div style='display:flex;padding:10px;'>

        <i class="fas fa-stopwatch" style='margin-right: 5px;'></i>
        <p id='<%= "duration-form-" + "#{session.id.to_s}" %>'><%= session.duration %> h</p>

      </div>

      <div style='display:flex; padding:10px;' >

        <div class='sessions-copy'>
          <h4 class='card-session-number'><%= session_number %>/<%= session.training.sessions.count %> </h4>
        </div>

      </div>

    </div>

  </div>

</div>
