<% training.sessions.order(date: :asc, start_time: :asc, title: :asc).each do |session| %>

  <% if ['super_admin', 'admin', 'project manager'].include?(current_user.access_level) || session.users.include?(current_user) %>

    <div class='session-card-block' id="card-block-<%= session.id %>">
      <%= render 'trainings/partials/show_session_card', session: session %>
    </div>

    <!-- MODALS -->

    <div id="editSession<%= session.id %>"
         class="modal fade editSession"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false">

      <div class="modal-dialog" role="document" style="border-radius: 2rem">
        <%= render '/sessions/edit', session: session %>
      </div>

    </div>

    <div id="addTrainer<%= session.id %>"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false">

      <div class="modal-dialog %>"
           role="document"
           style="border-radius: 2rem">

        <% @session = session %>
        <%= render '/session_trainers/trainers_link_to_session', training: nil,
                                                      session: @session,
                                                      page: 'training',
                                                      controller_action: 'trainings_show' %>

      </div>

    </div>

  <% end %>

<% end %>

<a data-toggle='modal' data-target='#newSession' data-toggle="tooltip" title="Add Session">

  <div class='session-card-block'>

    <div class="card-lg-empty">

      <div>
        <i class="fas fa-plus-circle"></i>
        <p>Add a Session</p>
      </div>

    </div>

  </div>

</a>


<!------------>
<!-- MOBILE -->
<!------------>

<div class="card-lg-mobile card-lg-mobile-empty">

  <div class="card-main-lg-mobile" ondblclick="doubleClick(this)">

    <div class="card-session-header-mobile">

      <div>
        <i class="fas fa-plus-circle"></i>
        <p>Add a Session</p>
      </div>

    </div>

  </div>

</div>
