<% training.owners.each do |user| %>

  <a class="mr--1rem"
     data-toggle='modal'
     data-target='#consultUser<%= user.id %>'>

    <% if user.picture.present? %>

      <img src='<%= "#{user.picture}" %>'
           class='avatar-sm-owner'
           title='Owner: <%= "#{user.fullname}" %>'>

    <% else %>

      <img src='<%= asset_path('empty-avatar.png', type: :image) %>'
           class='avatar-sm-owner'
           title='Owner  <%= "#{user.fullname}" %>'>

    <% end %>

  </a>

<% end %>

<% training.writers.each do |user| %>

  <a class="mr--1rem"
     data-toggle='modal'
     data-target='#consultUser<%= user.id %>'>

    <% if user.picture.present? %>

      <img src='<%= "#{user.picture}" %>'
           class='avatar-sm-writer'
           title='Owner: <%= "#{user.fullname}" %>'>

    <% else %>

      <img src='<%= asset_path('empty-avatar.png', type: :image) %>'
           class='avatar-sm-writer'
           title='Owner  <%= "#{user.fullname}" %>'>

    <% end %>

  </a>

<% end %>

<% training.sidekicks.each do |user| %>

  <a class="mr--1rem"
     data-toggle='modal'
     data-target='#consultUser<%= user.id %>'>

    <% if user.picture.present? %>

      <img src='<%= "#{user.picture}" %>'
           class='avatar-sm-writer'
           title='Owner: <%= "#{user.fullname}" %>'>

    <% else %>

      <img src='<%= asset_path('empty-avatar.png', type: :image) %>'
           class='avatar-sm-writer'
           title='Owner  <%= "#{user.fullname}" %>'>

    <% end %>

  </a>

<% end %>

<% trainer_array = [] %>

<% User.joins(:session_trainers).where(session_trainers: {session_id: training.sessions.map(&:id), status: nil}).order(lastname: :asc).uniq.each do |trainer| %>

  <% trainer_array << trainer %>

  <% unless trainer_array.count(trainer) > 1 %>

    <a class="mr--1rem"
       data-toggle='modal'
       data-target='#consultUser<%= trainer.id %>'>

      <% if trainer.picture.present? %>

        <img src='<%= "#{trainer.picture}" %>'
             class='avatar-sm-trainer'
             title='Trainer:  <%= "#{trainer.fullname}" %>'>

      <% else %>

        <img src='<%= asset_path('empty-avatar.png', type: :image) %>'
             class='avatar-sm-trainer'
             title='Trainer:  <%= "#{trainer.fullname}" %>'>

      <% end %>

    </a>

  <% end %>

<% end %>

<% if (['super_admin', 'admin', 'training manager'].include? current_user.access_level) %>

  <button class='avatar-sm-add mr--1rem'
          data-toggle='modal'
          data-target='#newTrainers'>

    <i class="fas fa-plus fs-2rem bld-light-grey2"
       title='Add Trainer'></i>

  </button>

<% end %>

<% (training.users + training.trainers).uniq.each do |user| %>

  <div id="consultUser<%= user.id %>"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       data-backdrop="static"
       data-keyboard="false">

    <div class="modal-dialog">
      <%= render 'users/consult', user: user, training: training %>
    </div>

  </div>

<% end %>