<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to theories_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Edit <%= @theory.name %></h3>
  <%= simple_form_for @theory do |f| %>
    <%= f.input :name %>
    <%# f.label :description %>
    <%# f.cktext_area :description %>
    <label class="string" style='margin: 1rem 0;'>Description</label>
    <%= f.trix_editor :description %>
    <%# f.label :references %>
    <%# f.cktext_area :references %>
    <label class="string" style='margin: 1rem 0;'>References</label>
    <%# f.cktext_area :instructions %>
    <%= f.trix_editor :references %>
    <div class='modal-control'>
      <%= button_tag type: 'submit', class: 'btn btn-edit-green', data: { toggle: 'tooltip' }, title: 'Save' do %>
        <p>Save</p>
      <% end %>
      <%= link_to theory_path(@theory), method: :delete, data: { confirm: 'Are you sure ?', toggle: 'tooltip' }, title: 'Delete' do %>
        <div class="btn-icon-grey" style='margin-left: 10px;'>
          <i class="fas fa-trash-alt" data-toggle='tooltip' title='Delete Theory'></i>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
