<ul style='list-style: none;'>
  <% @invoice_items.each do |item| %>
    <li>
      <div class="invoice-card">
        <div class='item-id invoice-card-link'>
          <p><%= item.uuid %></p>
          <p><%= InvoiceItem.includes(:client_company).find(item.id).client_company.name %></p>
        </div>

        <div class="item-id invoice-card-link">
          <p>Sending date</p>
          <% if item.sending_date.present? %>
            <p><%= item.sending_date&.strftime('%d/%m/%y') %></p>
          <% end %>
        </div>
        <!--  -->
        <div class="item-id invoice-card-link">
          <p>Payment date</p>
          <% if item.payment_date.present? %>
            <p><%= item.payment_date&.strftime('%d/%m/%y') %></p>
          <% end %>
        </div>
        <div class="item-id invoice-card-link">
          <p><%= number_with_precision(item.total_amount, precision: 2) %>€</p>
        </div>
        <!--  -->
        <div class="invoice-list-controls">
          <%= link_to invoice_item_path(item), class: 'btn btn-icon' do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to invoice_item_path(item, format: :pdf), target: :_blank, class: 'btn btn-icon' do %>
            <i class="fas fa-eye"></i>
          <% end %>
          <% if params[:type] == 'Invoice' %>
            <a class='btn btn-icon' data-toggle='modal' type='button' data-target='#editSending<%= item.id %>' style='cursor:pointer;'>
              <i class="fas fa-paper-plane"></i>
            </a>
            <!-- MODAL -->
            <div class="modal fade" id="editSending<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document" style="border-radius: 2rem">
                <%= render 'edit_sending', item: item %>
              </div>
            </div>
            <a class='btn btn-icon' data-toggle='modal' type='button' data-target='#editPayment<%= item.id %>' style='cursor:pointer;'>
              <i class="fas fa-euro-sign"></i>
            </a>
            <!-- MODAL -->
            <div class="modal fade" id="editPayment<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document" style="border-radius: 2rem">
                <%= render 'edit_payment', item: item %>
              </div>
            </div>
            <!--  -->
            <%= link_to marked_as_cancelled_invoice_item_path(item), class: 'btn btn-icon' do %>
              <i class="fas fa-skull-crossbones"></i>
            <% end %>
          <% else %>
            <%= link_to transform_to_invoice_path(item), class: 'btn btn-icon' do %>
                <i class="fas fa-file-invoice-dollar"></i>
            <% end %>
          <% end %>
        </div>
        <!--  -->
        <div class='item-status'>
          <% if item.status == 'Credit' %>
            <i class="fas fa-exclamation-triangle"></i>
          <% elsif item.status == 'Cancelled' %>
            <i class="far fa-times-circle"></i>
          <% elsif item.payment_date.present? %>
            <i class="far fa-check-circle"></i>
          <% else %>
            <i class="fas fa-ellipsis-h"></i>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

