<div id="stimulus-paginate-controller"
     class="container-seven-large"
     data-controller="tools--paginate tools--remember-search">

  <div class="mb-2rem">

    <% if params[:training_id] %>

      <%= link_to training_path(Training.find(params[:training_id])), class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>

    <% elsif params[:client_company_id] %>

      <%= link_to client_company_path(ClientCompany.find(params[:client_company_id])), class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>

    <% else %>

      <%= link_to report_path, class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>

    <% end %>

  </div>

  <div id="searchbar"
   class="bld__searchbar justify-content-between align-items-center">

    <div class='d-flex align-items-center'>

      <%= simple_form_for :search, url: invoice_items_path,
                                   method: :get,
                                   remote: true,
                                   data: {
                                     tools__remember_search_key_value: 'builderInvoiceItemsSearches',
                                   } do |f| %>

        <%= f.input :reference, placeholder: 'Search',
                                input_html: {
                                  autocomplete: 'off',
                                  data: {
                                    tools__remember_search_target: :search,
                                    action: 'keyup->tools--remember-search#storeSearch keyup->tools--remember-search#submitSearch'
                                  }
                                },
                                label: false,
                                required: false %>

        <%= hidden_field_tag :type, params[:type] %>
        <%= f.hidden_field :page, value: '1', data: { tools__paginate_target: :pageInput } %>

        <%= f.submit '', class: 'hidden-submit hidden',
                         data: { tools__paginate_target: 'submit' } %>

      <% end %>

      <button class='btn-reset bld-dark-grey'
              data-action="click->tools--remember-search#resetAllFilter">
        Reset
      </button>

    </div>

    <% if params[:type] == 'Order' %>

      <a data-toggle='modal' type='button' data-target='#newOrder' style='cursor:pointer;'>
        <button class="bld-btn-yellow">Create Order</button>
      </a>

    <% elsif params[:type] == 'Invoice' %>

      <a data-toggle='modal' type='button' data-target='#exportCSV' style='cursor:pointer;'>
        <button class="bld-btn-red">Export <i class="fas fa-file-csv ml-1rem"></i></button>
      </a>

    <% end %>

  </div>

  <div class="flex-row-between-centered">

    <p id="invoices_count"
       class="fs-2_4rem font-weight-600 bkt-dark-grey my-2rem"><%= params[:type] %>s : <%= @total_invoices %></p>

  </div>

  <div id="invoices_list"
       class="invoice-list">

    <%= render 'invoice_items/index/index_invoice_items_list', invoice_items: @invoice_items %>

  </div>

  <div class="paginate-container paginate-container-dark-grey">

    <%= render 'shared/paginate/paginate', instances: @invoice_items, any_more: @any_more %>

  </div>

  <!------------>
  <!-- MODALS -->
  <!------------>

  <div id="exportCSV"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       data-backdrop="static"
       data-keyboard="false">

    <div class="modal-dialog" role="document" style="border-radius: 2rem">
      <%= render 'export_csv' %>
    </div>

  </div>

  <% if params[:type] == 'Order' %>

    <div id="newOrder"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false">

      <div class="modal-dialog modal-lg" role="document" style="border-radius: 2rem">
        <%= render 'invoice_items/new_order', training: Training.find(params[:training_id]) %>
      </div>

    </div>

  <% end %>

  <!------------>

</div>

