<% invoice_id = @invoice_item.id %>
<% invoice_type = @invoice_item.type %>
<% client_company = @invoice_item.client_company %>
<% client_company_type = client_company.client_company_type %>
<% client_contact = @invoice_item.training&.client_contact %>

<% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) || @invoice_item.user_id == current_user.id %>

  <div class="container-seven-large"
       data-controller="invoices--invoices-show">

    <div class="invoice-item-container-mobile">

      <h1><%= client_company.name %> : <%= @invoice_item.uuid %></h1>

      <%= link_to invoice_item_path(@invoice_item, format: :pdf) do %>

        <button class="btn btn-edit-yellowbtn-edit-red">
          Export <i class="fas fa-file-pdf"></i>
        </button>

      <% end %>

    </div>

    <div class="invoice-item-container">

      <div id='page-controls'>

        <% if @invoice_item.training.present? %>

          <%= link_to invoice_items_path(training_id: @invoice_item.training.id, type: invoice_type), class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>

        <% else %>

          <%= link_to client_company_path(client_company), class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>

        <% end %>

        <% if ['super_admin', 'admin', 'training manager'].include?(current_user.access_level) %>

          <div class="page-controls-buttons">

            <% previous_item = InvoiceItem.find_by(uuid: (@invoice_item.uuid.first(6) + (@invoice_item.uuid.last(5).to_i - 1).to_s.rjust(5, '0'))) %>
            <% next_item = InvoiceItem.find_by(uuid: (@invoice_item.uuid.first(6) + (@invoice_item.uuid.last(5).to_i + 1).to_s.rjust(5, '0'))) %>

            <% if previous_item.present? %>

              <%= link_to invoice_item_path(previous_item), class: 'btn btn-icon' do %>
                <i class="fas fa-arrow-left bld-dark-grey"></i>
              <% end %>

            <% else %>

              <a class='btn btn-icon disabled'>
                <i class="fas fa-arrow-left bld-dark-grey"></i>
              </a>

            <% end %>

            <% if next_item.present? %>

              <%= link_to invoice_item_path(next_item), class: 'btn btn-icon' do %>
                <i class="fas fa-arrow-right bld-dark-grey"></i>
              <% end %>

            <% else %>

              <a class='btn btn-icon disabled'>
                <i class="fas fa-arrow-right bld-dark-grey"></i>
              </a>

            <% end %>

            <%= link_to invoice_item_path(@invoice_item, format: :pdf), target: :_blank, class: 'btn btn-edit-yellow btn-icon', data: {toggle: 'tooltip'}, title: 'Export to PDF' do %>
              <i class="fas fa-file-pdf"></i>
            <% end %>

            <% unless @invoice_item.training.nil? %>

              <button class='btn btn-edit-orange btn-icon' data-toggle='modal' data-toggle='tooltip' data-target='#sendInvoiceItem' title='Send Invoice'>
                <i class="fas fa-envelope"></i>
              </button>

            <% end %>

            <% if invoice_type == 'Invoice' %>

              <%= link_to credit_invoice_item_path(@invoice_item), class: "btn btn-edit-red btn-icon", data: {toggle: 'tooltip'}, title: 'Credit Note' do %>
                  <i class="fas fa-file-invoice-dollar"></i>
              <% end %>

              <button class='btn btn-edit-green btn-icon'
                      data-toggle='modal'
                      data-target='#editTraining'
                      title="Edit Training">
                <i class="fas fa-pen"></i>
              </button>

            <% elsif invoice_type == 'Estimate' %>

              <%= link_to invoice_item_path(@invoice_item), method: :delete, data: {confirm: 'Are you sure ?'}, class: 'btn btn-edit-red btn-icon' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>

              <%= link_to transform_to_invoice_path(@invoice_item), class: "btn btn-edit-red btn-icon", data: {toggle: 'tooltip'}, title: 'Transform to Invoice' do %>
                  <i class="fas fa-file-invoice-dollar"></i>
              <% end %>

            <% end %>

            <button class='btn btn-edit-green btn-icon'
                    data-toggle='modal'
                    data-target='#copyInvoiceItem'
                    title="Copy <%= @invoice_item.type %>">
              <i class="fas fa-copy"></i>
            </button>

            <%= render(Tools::SidebarComponent.new(title: 'Products',
                                           width: '35rem',
                                           side: 'right',
                                           button_klasses: 'btn btn-edit-grey btn-icon',
                                           klasses: '')) do %>

              <%= link_to invoice_lines_path(invoice_item_id: invoice_id, type: 'Chapter'), method: :post do %>
                Chapter
              <% end %>

              <%= link_to invoice_lines_path(invoice_item_id: invoice_id), method: :post do %>
                Commentaires
              <% end %>

              <%= link_to invoice_lines_path(invoice_item_id: invoice_id, description: 'Nom'), method: :post do %>
                Nom du participant
              <% end %>

              <% Product.all.each do |product| %>

                <%= link_to invoice_lines_path(product_id: product.id, invoice_item_id: invoice_id), method: :post do %>
                  <%= product.name %>
                <% end %>

              <% end %>

            <% end %>

          </div>

        <% end %>

      </div>

      <div class="invoice-header">

        <% unless invoice_type == 'Order' %>

          <div>
            <h3 style="color:black;">SAS SEVEN</h3>
            <p>5, rue Moret</p>
            <p>75011 Paris</p>
            <p>FRANCE</p>
            <p>contact@byseven.co</p>
          </div>

        <% else %>

          <div>
            <h3 style="color:black;"><%= @invoice_item.user.firstname %> <%= @invoice_item.user.lastname %></h3>
            <p><%= @invoice_item.user.address %></p>
            <p><%= @invoice_item.user.email %></p>
            <% if @invoice_item.user.siret.present? %>
              <p>SIRET : <%= @invoice_item.user.siret %></p>
            <% end %>
          </div>

        <% end %>

        <div>

          <% if invoice_type == 'Invoice' %>

            <% if @invoice_item.total_amount < 0 %>
              <h1>Avoir</h1>
            <% else %>
              <h1>Facture</h1>
            <% end %>

          <% elsif invoice_type == 'Order' %>

            <h1>Template</h1>

          <% else %>

            <h1>Devis</h1>

          <% end %>

          <p>n° <%= @invoice_item.uuid %></p>
          <p>Du <%= @invoice_item.created_at.strftime('%d/%m/%Y') %></p>
          <p>Etablie en Euro</p>

        </div>

      </div>

      <div class="invoice-client">

        <% unless invoice_type == 'Order' %>

          <% if client_company_type == 'Company' && client_company.opco_id.present? %>

            <%= link_to 'OPCO', edit_client_invoice_item_path(client_company_id: client_company.id), class: 'btn invoice-item-button-opco', data: {toggle: 'tooltip'}, title: 'Change to OPCO' %>

          <% elsif client_company_type == 'OPCO' && @invoice_item.description.present? %>
              <%= link_to 'Client', edit_client_invoice_item_path(client_company_id: client_company.id), class: 'btn invoice-item-button-opco', data: {toggle: 'tooltip'}, title: 'Change back to Client' %>

          <% end %>

          <div>
            <% airtable_contact = OverviewContact.all(filter: "{Builder_id} = '#{client_contact&.id}'").first %>

            <% if @invoice_item.training.present? && client_contact.billing_contact.present? && (@invoice_item.training.client_company == client_company) %>

              <p><%= client_contact.billing_contact %></p>
              <p><%= client_contact.billing_address %></p>
              <p><%= client_contact.billing_zipcode %> <%= client_contact.billing_city %></p>
              <p><%= client_company.siret %></p>

            <% else %>

              <p><%= client_company.name %></p>
              <p><%= client_company.address %></p>
              <p><%= client_company.zipcode %> <%= client_company.city %></p>
              <p><%= client_company.siret %></p>

            <% end %>

          </div>

        <% else %>

          <div>
            <p>SEVEN SAS</p>
            <p>5, rue Moret</p>
            <p>75011 Paris</p>
          </div>

        <% end %>

      </div>

      <div class="invoice-object">

        <div class="height-4rem width-fit-content d-flex align-items-center cursor-pointer"
             data-invoices--invoices-show-target="objectDisplay"
             data-action="click->invoices--invoices-show#toggleEditObject">

          <p class="font-weight-700">
            Objet: <%= @invoice_item.object.presence || 'N/R' %>
          </p>

        </div>

        <%= simple_form_for @invoice_item, html: { class: "hidden" }, data: { invoices__invoices_show_target: "objectForm" }, remote: true do |f| %>

          <div class="height-4rem d-flex justify-content-start align-items-center">

            <input type="text"
                   name="invoice_item[object]"
                   class="height-4rem width-30rem bld-bg-light-greybg border-none p-input"
                   placeholder="Object"
                   autocomplete="off"
                   value="<%= @invoice_item.object %>"
                   data-invoices--invoices-show-target="objectInput">

            <%= f.hidden_field :skip_update, value: true %>

            <%= f.submit '', class: 'hidden-submit hidden', data: { invoices__invoices_show_target: "objectSubmit" } %>

            <div class="btn btn-add-user height-3_5rem cursor-pointer"
                 data-action="click->invoices--invoices-show#confirmObject">
              Update
            </div>

          </div>

        <% end %>

      </div>

      <div class="invoice-desc-line" id='invoice-desc-header'>

        <p>Désignation</p>

        <div>
          <p>Qté</p>
          <p>PU HT</p>
          <p>Montant HT</p>
          <p>%TVA</p>
        </div>

      </div>

      <div id="invoice-line-render">

        <%= render 'invoice_lines/index', invoice_item: @invoice_item %>

      </div>

      <% if client_company_type == 'School' %>
        <br>
        <p>TVA non applicable, art. 261-4 du CGI</p>
      <% end %>

      <div class="invoice-total">

        <div class=invoice-total-due-date>

          <% total_net = [] %>
          <% total_ht = [] %>
          <% total_tva = [] %>

          <% @invoice_item.invoice_lines.each do |line| %>

            <% quantity = line.quantity %>
            <% net_amount = line.net_amount %>
            <% tax_amount = line.tax_amount %>

            <% if line.product %>
              <% total_ht << net_amount*quantity %>
              <% total_tva << net_amount*quantity*tax_amount/100 %>
              <% total_net << net_amount*quantity * (1 + (tax_amount / 100)) %>
            <% end %>

          <% end %>

          <% @invoice_item.tax_amount = total_tva.sum %>
          <% @invoice_item.total_amount = total_net.sum %>
          <% @invoice_item.save %>

          <% if invoice_type == 'Order' %>

            <p>TVA non applicable, art. 261-4 du CGI</p>

          <% else %>

            <div>
              <p>Echéance(s)</p>
              <p>Montant</p>
            </div>

            <div>
              <p><%= (@invoice_item.created_at + 1.months).strftime('%d/%m/%Y') %></p>
              <p><%= number_with_precision(@invoice_item.total_amount, precision: 2) %></p>
            </div>

          <% end %>

        </div>

        <div class="invoice-total-details">

          <div>
            <p>Total HT Net</p>
            <p>Total TVA</p>
            <p>Total TTC</p>
            <p>Net à payer en EUR</p>
          </div>

          <div>
            <p><%= number_with_precision(total_ht.sum, precision: 2) %></p>
            <p><%= number_with_precision(@invoice_item.tax_amount, precision: 2) %></p>
            <p><%= number_with_precision(@invoice_item.total_amount, precision: 2) %></p>
            <p><%= number_with_precision(@invoice_item.total_amount, precision: 2) %></p>
          </div>

        </div>

      </div>

      <% unless invoice_type == 'Order' %>

        <div class="invoice-bank-statement">
          <p>Déclaration d'activité sous le numéro 11 92 20487 92 auprès du Préfet d'IDF</p>
          <p>Domiciliation Bancaire : CIC Paris République</p>
          <p>Banque : 3006 Guichet : 10011 N° Compte : 00020287201 Clé : 36</p>
          <p>IBAN : FR76 3006 6100 1100 0202 8720 136</p>
          <p>BIC : CMCIFRPP</p>
        </div>

        <div class="invoice-footer">
          <p>SAS - RCS : Paris - Siret : 80396439400024 - APE : 8559A - ID TVA : FR28 803964394</p>
          <p>Pas d'escompte pour paiement anticipé, passée la date d'échéance, tout paiement différé entraîne l'application d'une pénalité de 3 fois le taux d'intérêt légal (loi 2008-776 du 04/08/2008) ainsi qu'une indemnité forfaitaire pour frais de recouvrement de 40 euros (Décret 2012-1115 du 02/10/2012).</p>
        </div>

      <% end %>

    </div>

    <!------------>
    <!-- MODALS -->
    <!------------>

    <div id="editTraining"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false">

      <div class="modal-dialog" role="document" style="border-radius: 2rem">
        <%= render 'invoice_items/show/edit_training', invoice_item: @invoice_item %>
      </div>

    </div>

    <div id="copyInvoiceItem"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false">

      <div class="modal-dialog" role="document" style="border-radius: 2rem">
        <%= render 'invoice_items/show/copy', invoice_item: @invoice_item %>
      </div>

    </div>

    <% unless @invoice_item.training.nil? %>

      <div id="sendInvoiceItem"
           class="modal fade"
           tabindex="-1"
           role="dialog"
           data-backdrop="static"
           data-keyboard="false">

        <div class="modal-dialog modal-lg" role="document" style="border-radius: 2rem">
          <%= render 'invoice_items/send_invoice', invoice_item: @invoice_item %>
        </div>

      </div>

    <% end %>

    <!------------>

  </div>



<% else %>

  <div class="container-seven-large-form">

    <div id='attendee-form-logo'>
      <h3>You are not allowed to access this page.</h3>
    </div>

  </div>

<% end %>
