<div class="d-flex flex-column align-items-start width-100">

  <%= link_to training_session_workshops_path(training, session), method: :post,
                                                                            class: "px-2_5rem py-1rem",
                                                                            remote: true do %>
    Vide - à personnaliser
  <% end %>

  <% pause = Content.where(title: 'Pause') %>
  <% pausedej = Content.where(title: 'Pause Déjeuner') %>

  <%= link_to training_session_workshops_path(training, session, content_id: pause.first.id),
                                                                           method: :post,
                                                                           class: "px-2_5rem py-1rem",
                                                                           remote: true do %>
    Pause
  <% end %>

  <%= link_to training_session_workshops_path(training, session, content_id: pausedej.first.id),
                                                                           method: :post,
                                                                           class: "px-2_5rem py-1rem",
                                                                           remote: true do %>
    Pause Déjeuner
  <% end %>

  <% @contents.each do |theme, contents| %>

    <div class="theme-container max-height-4rem width-100 overflow-y-hidden">

      <div class="d-flex justify-content-start align-items-center p-1rem cursor-pointer"
           data-action="click->sessions--sessions-show#toggleContentList">

        <span class="iconify mr-0_5rem"
            data-icon="bi:caret-right-fill"
            data-width="20"
            data-height="20"></span>

        <p class="font-weight-700"><%= theme.name.capitalize %></p>

      </div>

      <div class="content-list d-flex flex-column justify-content-start align-items-start">

        <% contents.each do |content| %>

          <%= link_to training_session_workshops_path(training, session, content_id: content.id),
                                                                           method: :post,
                                                                           class: "pl-3_5rem pr-1rem py-1rem",
                                                                           remote: true do %>
            <%= content.title %>
          <% end %>

        <% end %>
        
      </div>

    </div>

  <% end %>

</div>

