<!DOCTYPE html>
<html>
  <head>
    <script>
      var host = "learn.byseven.co";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Builder by SEVEN</title>
    <!-- <script src="/assets/jquery.js" type="text/javascript"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script src="https://cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <script>
      host = "seven-builder.herokuapp.com"
      if ((host == window.location.host) && (window.location.protocol != "https:")) {
        window.location.protocol = "https"
      }
    </script>
  </head>
    <body>
     <div class='<%= "wrapper" unless params[:controller] == "pages" && params[:action] == "home" %>'>
        <% if params[:controller] == "pages" && params[:action] == "home" %>
        <% elsif params[:controller] == 'attendees' && params[:action] == !'index'%>
        <% elsif params[:controller] == 'forms' && params[:action] == 'show' %>
        <% elsif params[:action] == 'export' %>
        <% elsif !user_signed_in? %>
        <% else %>
          <%= render 'shared/navbar' %>
          <%= render 'shared/left-navbar' %>
          <%= render 'shared/left-navbar-mobile' %>
        <% end %>
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
      </div>
      <%= content_for :render_async %>
    </body>
</html>

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>

<script>
  function resizeShow() {
    left_navbar = document.querySelector('.left-navbar');
    container = document.querySelector('.container-seven-large');
    page_controls = document.getElementById('page-controls');
    if (left_navbar.offsetWidth == 220) {
      page_controls.style.width = (window.innerWidth - 280).toString() + 'px';
      page_controls.style.maxWidth = '1160px';
      container.style.width = (window.innerWidth - 220).toString() + 'px';
      container.style.marginLeft = '220px';
    } else if (left_navbar.offsetWidth == 60) {
      page_controls.style.width = (window.innerWidth - 120).toString() + 'px';
      page_controls.style.maxWidth = '1320px';
      container.style.width = (window.innerWidth - 60).toString() + 'px';
      container.style.marginLeft = '60px';
    } else {
      container.style.marginLeft = '0px';
      page_controls.style.width = window.innerWidth.toString() + 'px';
      container.style.width = window.innerWidth.toString() + 'px';
    }
  }

  open = document.querySelector('.left-navbar-control-open');
  close = document.querySelector('.left-navbar-control-close');
  left_navbar = document.querySelector('.left-navbar');
  logo = document.querySelector('.left-navbar-logo');
  logo_small = document.querySelector('.left-navbar-logo-small');
  container = document.querySelector('.container-seven-large');
  page_controls = document.getElementById('page-controls');
  if (window.innerWidth >= 1440) {
    container.style.width = (1440 - 60).toString() + 'px';
    container.style.marginLeft = '60px';
    page_controls.style.width = (1440 - 120).toString() + 'px';
  } else if (window.innerWidth <= 1024){
    container.style.width = (window.innerWidth).toString() + 'px';
    page_controls.style.width = (window.innerWidth).toString() + 'px';
  } else {
    container.style.width = (window.innerWidth - 60).toString() + 'px';
    container.style.marginLeft = '60px';
    page_controls.style.width = (window.innerWidth - 120).toString() + 'px';
  }
  open.addEventListener('click', (event) => {
    left_navbar.style.width = '220px';
    setTimeout(function(){logo.classList.toggle('hidden');}, 250);
    setTimeout(function(){logo_small.classList.toggle('hidden');}, 250);
    open.classList.toggle('hidden');
    close.classList.toggle('hidden');
    if (window.innerWidth > 1440) {
      container.style.width = (1440 - 220).toString() + 'px';
      container.style.marginLeft = '220px';
      page_controls.style.width = (1440 - 280).toString() + 'px';
    } else {
      container.style.width = (window.innerWidth - 220).toString() + 'px';
      container.style.marginLeft = '220px';
      page_controls.style.width = (window.innerWidth - 280).toString() + 'px';
    }
  })
  close.addEventListener('click', (event) => {
    left_navbar.style.width = '60px';
    logo.classList.toggle('hidden');
    logo_small.classList.toggle('hidden');
    open.classList.toggle('hidden');
    close.classList.toggle('hidden');
    if (window.innerWidth >= 1440) {
      container.style.width = (1440 - 60).toString() + 'px';
      container.style.marginLeft = '60px';
      page_controls.style.width = (1440 - 120).toString() + 'px';
    } else {
      container.style.width = (window.innerWidth - 60).toString() + 'px';
      container.style.marginLeft = '60px';
      page_controls.style.width = (window.innerWidth - 120).toString() + 'px';
    }
  })

  window.addEventListener('resize', resizeShow);
  lazyload();
</script>
