<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Link a theory" %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for :theory_content, url: content_manage_linked_theories_path(@content), method: :get do |f| %>
      <%= collection_check_boxes(:content, :theory_ids, Theory.all, :id, :name) do |b| %>
        <%= b.label class: 'label-checkbox' do %>
          <%= b.check_box + b.text %>
        <% end %>
      <% end %>
      <%= f.button :submit, "Link", class: 'btn btn-edit-yellow', style:'margin-top: 10px;' %>
    <% end %>
  </div>
</div>
